<div class="editEvent-container">
	<div class="back">
		<f:link.page>Übersicht</f:link.page> // Veranstaltungsortübersicht
	</div>
	
	<div class="list-events-con container py-3">
		<f:if condition="{obj}">
			<f:then>
				<div class="list-events-header row">
					<div class="col-3">MRHID</div>
					<div class="col-3">Name</div>
					<div class="col-3">Ort</div>
					<div class="col-3">Aktionen</div>
				</div>
				<f:for each="{obj}" as="val" key="key">
					<div class="list-events-item row item-hidden-{val.hidden}">
						<div class="col-3">
							<f:if condition="{val.mrhid}">{val.mrhid}</f:if>
						</div>
						<div class="col-3">{val.name}<f:if condition="{val.raum}"> - {val.raum}</f:if><f:if condition="{lock_list.{val.uid}}"><br /><div class="workingOn"><span class="icon"></span><strong>{lock_list.{val.uid}.user}</strong> bearbeitet diesen Datensatz<br/>seit {lock_list.{val.uid}.time}</div></f:if></div>
						<div class="col-3">{val.ort}</div>
						<div class="col-3 action_container">
							<div class="edit joSprite" title="Editieren" data-url="{f:uri.action(action: 'loadform', pageType: '2343', arguments: '{target: \'edit_location\', eOrt: \'{val.uid}\'}')}">&nbsp;</div>
							<div class="copy joSprite" title="Kopieren" data-url="{f:uri.action(action: 'copy', pageType: '2343', arguments: '{target: \'copy_location\', id: \'{val.uid}\'}')}">&nbsp;</div>
							<div class="delete joSprite" title="Löschen" data-url="{f:uri.action(action: 'delete', pageType: '2343', arguments: '{target: \'delete_location\', id: \'{val.uid}\'}')}" data-search="{f:uri.action(action: 'search', pageType: '2343', arguments: '{target: \'search_location\', id: \'{val.uid}\'}')}">&nbsp;</div>
						</div>
					</div>
				</f:for>

				<div class="mt-5">
					<p>Die verschiedenen Farbcodes erklären sich wie folgt:</p>

		     		<p><span class="kreis green"></span>aktiviert <br/>
		     		<span class="kreis red"></span>deaktiviert</p>
		     	</div>

			</f:then>
			<f:else>
				<p>Keine Veranstaltungsart gefunden.</p>
			</f:else>
		</f:if>


	</div>

</div>