<div class="editEvent-container">
	<div class="back">
		<f:link.page>Übersicht</f:link.page> // Merkmale
	</div>
	
	<div class="list-events-con container py-3">
		<f:if condition="{ver_art}">
			<f:then>
				<div class="list-events-header row">
					<div class="col-3">uID</div>
					<div class="col-3">Name</div>
					<div class="col-3">Änderungsdatum</div>
					<div class="col-3">Aktionen</div>
				</div>
				<f:for each="{ver_art}" as="val" key="key">
					<div class="list-events-item row item-hidden-{val.hidden}">
						<div class="col-3">{val.uid}</div>
						<div class="col-3">{val.name}</div>
						<div class="col-3"><f:format.date format="d.m.Y H:i">{val.tstamp}</f:format.date></div>
						<div class="col-3 action_container">
							<div class="edit joSprite" title="Editieren" data-url="{f:uri.action(action: 'loadform', pageType: '2343', arguments: '{target: \'edit_ver_art\', eArt: \'{val.uid}\'}')}">&nbsp;</div>
							<div class="delete joSprite" title="Löschen" data-url="{f:uri.action(action: 'delete', pageType: '2343', arguments: '{target: \'delete_ver_art\', id: \'{val.uid}\'}')}" data-search="{f:uri.action(action: 'search', pageType: '2343', arguments: '{target: \'search_ver_art\', id: \'{val.uid}\'}')}">&nbsp;</div>
						</div>
					</div>
				</f:for>

				<div class="mt-5">
					<p>Die verschiedenen Farbcodes erklären sich wie folgt:</p>

		     		<p><span class="kreis green"></span>aktiviert <br/>
		     		<span class="kreis red"></span>deaktiviert</p>
		     	</div>
			</f:then>
			<f:else>
				<p>Keine Merkmale gefunden.</p>
			</f:else>
		</f:if>


	</div>

</div>