<div class="editEvent-container">
	<div class="back">
		<f:link.page>Übersicht</f:link.page> // Veranstaltungsübersicht
	</div>
	
	<div class="list-events-con container py-3">
		<f:if condition="{performances}">
			<f:then>
				<div class="list-events-header row">
					<div class="col-3">Name</div>
					<div class="col-3">zuletzt geändert</div>
					<div class="col-3">Start</div>
					<div class="col-1">externe ID</div>
					<f:comment>
						<!--
					<div class="col-3">Anfang</div>
						-->
					</f:comment>
					<div class="col-2">Aktionen</div>
				</div>
				<f:for each="{performances}" as="val" key="key">
					<div class="list-events-item row item-hidden-{val.obj.hidden}{f:if(condition: '{val.ausfall}', then: ' item-hidden-ausfall', else: '')}">
						<div class="col-3">
							{val.obj.name}
							<f:if condition="{lock_list.{val.obj.uid}}">
								<br />
								<div class="workingOn"><span class="icon"></span><strong>{lock_list.{val.obj.uid}.user}</strong> bearbeitet diesen Datensatz<br/>seit {lock_list.{val.obj.uid}.time}</div>
							</f:if>
						</div>
						<div class="col-3"><f:format.date format="d.m.Y H:i">{val.obj.tstamp}</f:format.date></div>
						<div class="col-3"><f:if condition="{val.sp}"><f:format.date format="d.m.Y H:i">{val.sp.datum}</f:format.date></f:if></div>
						<div class="col-1">{val.maskedUid}</div>
						<f:comment>
							<!--
								<div class="col-3">{val.obj.uid}</div>
							-->
						</f:comment>
						<div class="col-2 action_container">
							<div class="edit joSprite" title="Editieren" data-url="{f:uri.action(action: 'loadform', pageType: '2343', arguments: '{target: \'edit_performance\', ep: \'{val.obj.uid}\', es: \'{val.obj.uid}\'}')}">&nbsp;</div>
							<div class="copy joSprite" title="Kopieren" data-url="{f:uri.action(action: 'copy', pageType: '2343', arguments: '{target: \'copy_event\', id: \'{val.obj.uid}\'}')}">&nbsp;</div>
							<div class="delete joSprite" title="Löschen" data-url="{f:uri.action(action: 'delete', pageType: '2343', arguments: '{target: \'delete_performance\', id: \'{val.obj.uid}\'}')}" data-search="{f:uri.action(action: 'search', pageType: '2343', arguments: '{target: \'search_performance\', id: \'{val.obj.uid}\'}')}">&nbsp;</div>
						</div>
					</div>
				</f:for>

				<div class="mt-5">
					<p>Die verschiedenen Farbcodes erklären sich wie folgt:</p>

		     		<p><span class="kreis green"></span>Veröffentlicht <br/>
	     			<span class="kreis yellow"></span>Angelegt und noch nicht veröffentlicht<br/>
		     		<span class="kreis red"></span>Alle Termine abgelaufen ODER Veröffentlicht und abgesagt</p>
		     	</div>

			</f:then>
			<f:else>
				<p>Keine Events gefunden.</p>
			</f:else>
		</f:if>


	</div>

</div>