<div class="editEvent-container">
	<div class="back">
		<f:link.page>Übersicht</f:link.page> // Veranstalterübersicht
	</div>
	
	<div class="list-events-con container py-3">
		<f:if condition="{veranstalter}">
			<f:then>
				<div class="list-events-header row">
					<div class="col-3">Name</div>
					<div class="col-3">zuletzt geändert</div>
					<div class="col-3">ID</div>
					<div class="col-3">edit</div>
				</div>
				<f:for each="{veranstalter}" as="val" key="key">
					<div class="list-events-item row item-hidden-{val.hidden}">
						<div class="col-3">{val.name}</div>
						<div class="col-3"><f:format.date format="d.m.Y H:i">{val.tstamp}</f:format.date></div>
						<div class="col-3">{val.uid}</div>
						<div class="col-3 action_container">
							<div class="edit joSprite" title="Editieren" data-url="{f:uri.action(action: 'loadform', pageType: '2343', arguments: '{target: \'edit_veranstalter\', eVer: \'{val.uid}\', es: \'{val.uid}\'}')}">&nbsp;</div>
						</div>
					</div>
				</f:for>
			</f:then>
			<f:else>
				<p>Keine Veranstalter gefunden.</p>
			</f:else>
		</f:if>
	</div>
</div>