{namespace jo=JO\Theatercollection\ViewHelpers}
<div class="newEvent-container">
	<div class="back">
		<f:link.page>Übersicht</f:link.page> // {formular.settings.label}
	</div>

	<f:variable name="page_count" value="{formular.pages -> f:count()}" />

	<f:if condition="{page_count} > 1">
		<div class="progress-menu-container">
			<button class="button-prev progress-btn"><span class="joSprite"></span></button>
			<div class="progress-menu">
				<ul class="menu-steps row no-gutters">
					<f:for each="{formular.pages}" as="val" key="key" iteration="it">
						<li class="col menu-step{f:if(condition: '{it.isFirst}', then: ' active', else: '')} {val.icon}" data-num="{it.cycle}"></li>
					</f:for>
				</ul>
			</div>
			<button class="button-next progress-btn"><span class="joSprite"></span></button>
		</div>
	</f:if>

	<f:form id="newEventForm" action="formsubmit" name="event" enctype="multipart/form-data" pageType="2343">
		<f:for each="{formular.settings}" as="val" key="key">
			<f:if condition="{key} != 'label'">
				<f:form.hidden name="{key}" value="{val}" />
			</f:if>
		</f:for>

		<f:if condition="{prefill.uid}">
			<f:form.hidden name="currentUid" value="{prefill.uid}" />
		</f:if>

		<f:form.hidden id="savetype" name="savetype" value="0" />
		<f:comment>
			<!--
		   	<f:form.hidden name="action" value="new" />
		   	<f:form.hidden class="cur-index" name="curindex" value="1" />
		   	-->
	   	</f:comment>

	   	<div class="form-content">
	   		<f:for each="{formular.pages}" as="val" key="key" iteration="it">

		   		<div class="form-page form-page-{it.cycle}{f:if(condition: '{it.isFirst}', then: ' active', else: '')}" data-num="{it.cycle}">
		   			<h4>
		   				<f:if condition="{val.label}">
		   					<f:then>
		   						{val.label}
		   					</f:then>
		   					<f:else>
		   						Basisdaten
		   					</f:else>
		   				</f:if>
		   				// Schritt {it.cycle} von {page_count}
		   			</h4>

		   			<div class="form-items-container">
	   					<f:for each="{val.items}" as="v" key="k" iteration="i">
	   						<f:render section="{v.type}" arguments="{_all}"/>
	   					</f:for>
		   			</div>
		   		</div>
	   		</f:for>
	   	</div>

	   	<f:if condition="{page_count} > 1">
		   	<div class="continue_button_con">
	   			<div class="close_button" data-toggle="modal" data-target="#close_modal"><div class="btn-text">Abbrechen</div>
	   				<div class="modal fade" id="close_modal" tabindex="-1" role="dialog" aria-hidden="true">
					  	<div class="modal-dialog" role="document">
						    <div class="modal-content">
						      	<div class="modal-header">
						        	<h5 class="modal-title" id="close_modal">Achtung!</h5>
						      	</div>
						      	<div class="modal-body">
						        	Durch das Schließen, gehen ALLE Eingaben verloren!! 
						      	</div>
						      	<div class="modal-footer">
						        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Zurück</button>
						        	<button type="button" class="btn btn-primary" data-url="{f:uri.page(absolute=1)}">Verstanden</button>
					      		</div>
						    </div>
					  	</div>
					</div>
	   			</div>
	   			<div class="back_button"><span class="joSprite"></span><div class="btn-text">Zurück</div></div>
	   			<div class="continue_button"><div class="btn-text">Weiter</div><span class="joSprite"></span></div>
	   			<f:if condition="{formular.settings.save.savenotpublish}">
	   				<f:if condition="{prefill}">
	   					<f:then>
			   				<f:if condition="{prefill.hidden}">
			   					<f:then>
			   						<div type="submit" data-value="3" class="frm-btn btn-tosave btn-save2"><div class="btn-text">Speichern aber nicht veröffentlichen</div><span class="joSprite"></span></div>
			   					</f:then>
			   					<f:else>
			   						<f:if condition="{permission.saveEvents} == 1">
			   							<div type="submit" data-value="0" class="frm-btn btn-tosave btn-publish"><div class="btn-text">Speichern und veröffentlichen</div><span class="joSprite"></span></div>
			   						</f:if>
			   					</f:else>
			   				</f:if>
	   					</f:then>
	   					<f:else>
	   						<div type="submit" data-value="3" class="frm-btn btn-tosave btn-save2"><div class="btn-text">Speichern aber nicht veröffentlichen</div><span class="joSprite"></span></div>
	   					</f:else>
	   				</f:if>
	   			</f:if>
	   			<f:comment>
		   			<!--
		   			<div class="send_it_button">
		   				<f:form.submit><div class="btn-text">Send It</div><span class="joSprite"></span></f:form.submit>
		   			</div>
		   			-->
		   		</f:comment>
	   		</div>
	   	</f:if>
	</f:form>

	<f:if condition="{prefill.uid}">
		<f:link.action class="d-none lockupdate" action="lockupdate" pageType="2343" arguments="{uid: prefill.uid, target: target}">link</f:link.action>
	</f:if>
</div>


<f:comment>
	<!-- --------------------------------------------- Fields --------------------------------------------- -->
</f:comment>

<f:section name="input">
	<div {f:if(condition: '{v.container-id}', then: 'id="{v.container-id}"', else: '')} class="input-type form-group row{f:if(condition: '{v.container-class}', then: ' {v.container-class}', else: '')}">
		<f:render section="popover" arguments="{_all}"/>

	    <label for="{target}-{k}" class="col-md-4 col-form-label">{v.label}</label>
	    <div class="col-md-8<f:if condition='{v.translate}'> trsl</f:if>">
	    	<f:if condition="{v.asFor}">
	    		<f:then>
	    			<f:variable name="tmpVal"><f:if condition="{v.value}"><f:then>{v.value}</f:then><f:else>{prefill.{v.asFor}.0.urheber}</f:else></f:if></f:variable>	
	    			
	    			<f:form.textfield id="{target}-{k}" class="form-control {v.required} {v.validate} {v.requiredOr}" name="{v.asFor}[0][{k}]" disabled="{v.disable}" value="{tmpVal}" placeholder="{v.placeholder}" additionalAttributes="{data-num: '0'}" maxlength="{v.maxlength}" />
	    		</f:then>
	    		<f:else>
	    			<f:variable name="tmpVal"><f:if condition="{v.value}"><f:then>{v.value}</f:then><f:else>{prefill.{k}}</f:else></f:if></f:variable>

	    			<f:form.textfield id="{target}-{k}" class="form-control {v.required} {v.validate} {v.requiredOr}" name="{k}" disabled="{v.disable}" value="{tmpVal}" placeholder="{v.placeholder}" maxlength="{v.maxlength}" />
	    		</f:else>
	    	</f:if>
	    	<f:if condition="{v.translate}">
	    		<div class="tsl_icon" title="Übersetzen"></div>
	    	</f:if>
	    	<div class="output row d-none">
	    		<div class="col-4">{v.label}</div>
	    		<div class="col-8 output-text">
	    			<f:if condition="{v.asFor}">
			    		<f:then>
			    			<f:variable name="tmpVal"><f:if condition="{v.value}"><f:then>{v.value}</f:then><f:else>{prefill.{v.asFor}.0.urheber}</f:else></f:if></f:variable>	
			    			{tmpVal}
			    		</f:then>
			    		<f:else>
			    			<f:variable name="tmpVal"><f:if condition="{v.value}"><f:then>{v.value}</f:then><f:else>{prefill.{k}}</f:else></f:if></f:variable>
			    			{tmpVal}
			    		</f:else>
			    	</f:if>
	    		</div>
	    	</div>
	    	<f:if condition="{v.info_text}">
	    		<div class="info-text"><f:format.raw>{v.info_text}</f:format.raw></div>
	    	</f:if>
	    	<f:if condition="{v.error-text}">
	    		<div class="alert alert-danger alert-form"><f:format.raw>{v.error-text}</f:format.raw></div>
	    	</f:if>
	    	<f:if condition="{v.warning-text}">
	    		<div class="alert alert-warning alert-form"><f:format.raw>{v.warning-text}</f:format.raw></div>
	    	</f:if>
		</div>
		<f:if condition="{v.translate}">
			<f:variable name="tmpVal"><f:if condition="{v.en.value}"><f:then>{v.en.value}</f:then><f:else>{prefill.en.{k}}</f:else></f:if></f:variable>
			<div class="col-12 row lng_trsl mt-2 mx-0 collapse<f:if condition='{tmpVal}'> show</f:if>">
				<div class="col-4 lng_trsl-label">{v.label_en}</div>
				<div class="col-8 lng_trsl-con">
					<f:form.textfield id="{target}-en-{k}" class="form-control" name="{k}-en" disabled="{v.en.disable}" value="{tmpVal}" placeholder="English translation" maxlength="{v.maxlength}" />
			    	<div class="output row d-none">
			    		<div class="col-4">{v.label}</div>
			    		<div class="col-8 output-text">
			    			<f:variable name="tmpVal"><f:if condition="{v.en.value}"><f:then>{v.en.value}</f:then><f:else>{prefill.en.{k}}</f:else></f:if></f:variable>
			    			{tmpVal}
			    		</div>
			    	</div>
				</div>
			</div>
		</f:if>
	</div>
</f:section>

<f:section name="timeline">
	<div {f:if(condition: '{v.container-id}', then: 'id="{v.container-id}"', else: '')} class="timeline-type form-group {v.status} {v.required} row{f:if(condition: '{v.container-class}', then: ' {v.container-class}', else: '')}"<f:if condition="{v.js-event}"> data-target="{v.js-event}"</f:if><f:if condition="{v.js-event-start}"> data-start="{v.js-event-start}"</f:if><f:if condition="{v.js-event-end}"> data-end="{v.js-event-end}"</f:if> data-prefix="{target}">
		<f:render section="popover" arguments="{_all}"/>
	    <label for="{target}-{k}" class="col-md-4 col-form-label">{v.label}</label>
	    <div class="col-md-8">
			<div class="prototyp row">
				<fieldset>
					<legend>
    					<f:form.hidden class="form-control col datum" name="{k}[0][date]" value="" />
    					<input class="form-control col datum_out" name="" value="" readonly="readonly" disabled="disabled" />
					</legend>
					<div class="row cloned-row">
						<div class="col-12 row g no-gutters">
							<div class="col">
								<span>Von</span>
					    		<f:form.textfield class="form-control von" name="{k}[0][start-time]" value="" placeholder="Von" />
					    	</div>
							<div class="col">
								<span>Bis</span>
					    		<f:form.textfield class="form-control bis" name="{k}[0][end-time]" value="" placeholder="Bis" />
					    	</div>
					    	<div class="col">
								<span>Einlass</span>
				    			<f:form.textfield class="form-control einlass" name="{k}[0][einlass]" value="" placeholder="Einlass" />
					    	</div>
					    	<div class="col">
								<span>Dauer</span>
					    		<f:form.textfield class="form-control dauer" name="{k}[0][dauer]" value="" placeholder="Dauer" />
				    		</div>
				    		<div class="col">
								<span>Status</span>
			    				<f:form.select class="form-control status" name="{k}[0][status]">
			    					<f:form.select.option value="EventScheduled">Geplant</f:form.select.option>
			    					<f:form.select.option value="EventCancelled">Abgesagt</f:form.select.option>
			    					<f:form.select.option value="EventPostponed">Verschoben</f:form.select.option>
			    				</f:form.select>
					    	</div>
					    	<div class="col">
					    		<span>Ort auswählen</span>
					    		<f:form.select class="form-control ort" name="{k}[0][ort]" options="{spielortModal}" optionValueField="uid" optionLabelField="name" prependOptionLabel="Bitte wählen" prependOptionValue="" />
					    	</div>
					    </div>
			    		<div class="col-12 ev-cancelled">
				    		<span>Grund</span>
			    			<f:form.textarea class="form-control cancelreason" name="{k}[0][cancelreason]" />
			    		</div>
				    	<div class="col-12 ort-con mt-2">
				    		<label class="d-flex ml-auto align-items-center mr-3 mb-0">Aktiv
			    				<f:form.checkbox class="check ml-1" name="{k}[0][check]" value="1" checked="checked"/>
			    			</label>
			    			<span class="d-flex align-items-center mr-1">Tag</span>
							<input type="button" class="ct-btn timeline-minus mr-2" value="-" />
							<input type="button" class="ct-btn timeline-plus" value="+" />
						</div>
				    </div>
				</fieldset>
			</div>
			<f:if condition="{v.error-text}">
	    		<div class="alert alert-danger alert-form"><f:format.raw>{v.error-text}</f:format.raw></div>
	    	</f:if>
	    	<f:if condition="{v.warning-text}">
	    		<div class="alert alert-warning alert-form"><f:format.raw>{v.warning-text}</f:format.raw></div>
	    	</f:if>
		</div>
		<div class="timeline-clones col-md-12 row no-gutters">
			<f:if condition="{prefill.{k}}">
				<f:for each="{prefill.{k}}" as="p_val" key="p_key" iteration="p_it">
					<div class="cloned col-md-12<f:if condition='!{prefill.hidden}'> no-del</f:if>">
						<fieldset>
							<legend>
					    		<f:form.hidden class="form-control col datum" name="{k}[{p_key}][date]" value="{p_val.date}" />
					    		<input class="form-control col datum_out" name="" value="{p_val.date_out}" readonly="readonly" disabled="disabled" />
							</legend>
							<div class="row cloned-row">
								<div class="col-12 row g no-gutters">
									<div class="col">
										<span>Von</span>
							    		<f:form.textfield class="form-control von" name="{k}[{p_key}][start-time]" value="{p_val.start-time}" placeholder="Von" />
									</div>
									<div class="col">
										<span>Bis</span>
							    		<f:form.textfield class="form-control bis" name="{k}[{p_key}][end-time]" value="{p_val.end-time}" placeholder="Bis" />
							    	</div>
							    	<div class="col">
										<span>Einlass</span>
							    		<f:form.textfield class="form-control einlass" name="{k}[{p_key}][einlass]" value="{p_val.einlass}" placeholder="Einlass" />
							    	</div>
							    	<div class="col">
										<span>Dauer</span>
					    				<f:form.textfield class="form-control dauer" name="{k}[{p_key}][dauer]" value="{p_val.dauer}" placeholder="Dauer" />
							    	</div>
							    	<div class="col">
										<span>Status</span>
					    				<f:form.select class="form-control status" name="{k}[{p_key}][status]" value="{p_val.status}">
					    					<f:form.select.option value="EventScheduled">Geplant</f:form.select.option>
					    					<f:form.select.option value="EventCancelled">Abgesagt</f:form.select.option>
					    					<f:form.select.option value="EventPostponed">Verschoben</f:form.select.option>
					    				</f:form.select>
							    	</div>
							    	<div class="col">
										<span>Ort auswählen</span>
							    		<f:form.select class="form-control ort" name="{k}[{p_key}][ort]" options="{spielortModal}" optionValueField="uid" optionLabelField="name" value="{p_val.ort.uid}" prependOptionLabel="Bitte wählen" prependOptionValue="" />
							    	</div>
							    </div>
						    	<div class="col-12 ev-cancelled"<f:if condition="{p_val.status} == 'EventCancelled'">style="display:block"</f:if>>
						    		<span>Grund</span>
					    			<f:form.textarea class="form-control cancelreason" name="{k}[{p_key}][cancelreason]" value="{p_val.cancelreason}" />
					    		</div>
						    	<div class="col-12 ort-con mt-2 justify-content-end">
						    		<f:if condition="{prefill.hidden}">
					   					<f:then>
					   						<label class="d-flex align-items-center mr-3 mb-0"">Aktiv
								    			<f:form.checkbox class="check ml-1" name="{k}[{p_key}][check]" value="1" checked="checked"/>
								    		</label>
								    		<span class="d-flex align-items-center mr-1">Tag</span>
											<input type="button" class="ct-btn timeline-minus mr-2" value="-" />
											<input type="button" class="ct-btn timeline-plus" value="+" />
					   					</f:then>
					   					<f:else>
					   						<f:form.hidden class="check ml-1" name="{k}[{p_key}][check]" value="1" />
								    		<span class="d-flex align-items-center mr-1">Tag</span>
											<input type="button" class="ct-btn timeline-plus" value="+" />
					   					</f:else>
					   				</f:if>
								</div>
						    </div>
					    </fieldset>
					</div>
				</f:for>
			</f:if>
		</div>
		<div class="output row d-none">
    		<div class="col-4">Tagesübersicht</div>
    		<div class="col-8 output-text">
    			<div class="row">
		    		<div class="col">Datum</div>
		    		<div class="col">Von</div>
		    		<div class="col">Bis</div>
		    		<div class="col">Einlass</div>
		    		<div class="col">Dauer</div>
		    		<div class="col">Ort</div>
		    	</div>
	    		<div class="output-con row">
    				<f:if condition="{prefill.{k}}">
						<f:for each="{prefill.{k}}" as="p_val" key="p_key" iteration="p_it">
							<div class="row">
								<div class="form-control col datum_out">{p_val.date}</div>
								<div class="form-control col von">{p_val.start-time}</div>
								<div class="form-control col bis">{p_val.end-time}</div>
								<div class="form-control col einlass">{p_val.einlass}</div>
								<div class="form-control col dauer">{p_val.dauer}</div>
								<div class="form-control col ort" title="{p_val.ort.name}">{p_val.ort.name}</div>
							</div>
						</f:for>
					</f:if>
				</div>
    		</div>
    	</div>
	</div>
</f:section>


<f:section name="textarea">
	<div {f:if(condition: '{v.container-id}', then: 'id="{v.container-id}"', else: '')} class="textarea-type form-group row{f:if(condition: '{v.container-class}', then: ' {v.container-class}', else: '')}">
		<f:render section="popover" arguments="{_all}"/>

	    <label for="{target}-{k}" class="col-md-4 col-form-label">{v.label}</label>
	    <div class="col-md-8<f:if condition='{v.translate}'> trsl</f:if>">
			<f:if condition="{v.asFor}">
	    		<f:then>
	    			<f:form.textarea id="{target}-{k}" class="form-control {v.required}" name="{v.asFor}[0][{k}]" placeholder="{v.placeholder}" value="{prefill.{k}}" additionalAttributes="{data-num: '0'}" />
	    		</f:then>
	    		<f:else>
	    			<f:form.textarea id="{target}-{k}" class="form-control {v.required}" name="{k}" placeholder="{v.placeholder}" value="{prefill.{k}}" />
	    		</f:else>
	    	</f:if>
	    	<f:if condition="{v.translate}">
	    		<div class="tsl_icon" title="Übersetzen"></div>
	    	</f:if>
			<div class="output row d-none textarea-output">
	    		<div class="col-4">{v.label}</div>
	    		<div class="col-8 output-text">{prefill.{k}}</div>
	    	</div>
	    	<f:if condition="{v.error-text}">
	    		<div class="alert alert-danger alert-form"><f:format.raw>{v.error-text}</f:format.raw></div>
	    	</f:if>
	    	<f:if condition="{v.warning-text}">
	    		<div class="alert alert-warning alert-form"><f:format.raw>{v.warning-text}</f:format.raw></div>
	    	</f:if>
		</div>

		<f:if condition="{v.translate}">
			<div class="col-12 row lng_trsl mt-2 mx-0 collapse<f:if condition='{prefill.en.{k}}'> show</f:if>">
				<div class="col-4 lng_trsl-label">{v.label_en}</div>
				<div class="col-8 lng_trsl-con">
			    	<f:form.textarea id="{target}-en-{k}" class="form-control" name="{k}-en" placeholder="English translation" value="{prefill.en.{k}}" />
					
					<div class="output row d-none textarea-output">
			    		<div class="col-4">{v.label}</div>
			    		<div class="col-8 output-text">{prefill.en.{k}}</div>
			    	</div>
				</div>
			</div>
		</f:if>
	</div>
</f:section>

<f:section name="select">
	<div {f:if(condition: '{v.container-id}', then: 'id="{v.container-id}"', else: '')} class="select-type form-group row{f:if(condition: '{v.container-class}', then: ' {v.container-class}', else: '')}">
		<f:render section="popover" arguments="{_all}"/>

	    <label for="{target}-{k}" class="col-md-4 col-form-label">{v.label}</label>
	    <div class="col-md-8">
	    	<f:if condition="{v.special} == 'multiselect'">
	    		<f:then>
	    			<f:render section="multiSelect" arguments="{_all}"/>
	    		</f:then>
	    		<f:else>
	    			<f:render section="singleSelect" arguments="{_all}"/>
	    		</f:else>
	    	</f:if>
		</div>
		<f:if condition="{v.special} == 'multiselect' && {v.primary}">
			<div class="col-12 primery-select px-0 mx-0" <f:if condition="{prefill.{k}Primery}">style="display:block"</f:if>>
				<div class="row px-0 mx-0">
					<label for="{target}-primery-{k}" class="col-md-4 col-form-label mt-2">{v.primary} {v.label}</label>
					<div class="col-md-8 mt-2">
						<f:form.select id="{target}-primery-{k}" class="form-control prm-select" name="{k}Primery" value="{prefill.{k}Primery}">
							<f:if condition="{v.loadOptionPrimary}">
								<f:for each="{v.loadOptionPrimary}" as="s_val" key="s_key">
									<f:form.select.option value="{s_val.value}">{s_val.label}</f:form.select.option>
								</f:for>
							</f:if>
						</f:form.select>
					</div>
					<div class="output row d-none">
						<div class="col-4">{v.primary} {v.label}</div>
						<div class="col-8 output-text">
			    			<f:if condition="{v.loadOption}">
								<f:for each="{v.loadOption}" as="s_val" key="s_key">
									<f:if condition="{prefill.{k}Primery} == {s_val.value}">
										{s_val.label}
									</f:if>
								</f:for>
							</f:if>
			    		</div>
					</div>
				</div>
			</div>
		</f:if>
		<div class="output row d-none">
    		<div class="col-4">{v.label}</div>
    		<div class="col-8 output-text">
				<f:if condition="{v.special} == 'multiselect'">
		    		<f:then>
		    			<f:if condition="{prefill.{k}Output}">
		    				<f:then>
		    					<f:for each="{prefill.{k}Output}" as="s_val" key="s_key" iteration="it">
				    				{s_val}<f:if condition="!{it.isLast}"><br/></f:if>
				    			</f:for>
		    				</f:then>
		    				<f:else>
				    			<f:for each="{prefill.{k}}" as="s_val" key="s_key" iteration="it">
				    				{s_val}<f:if condition="!{it.isLast}"><br/></f:if>
				    			</f:for>
		    				</f:else>
		    			</f:if>
		    		</f:then>
		    		<f:else>
		    			<f:if condition="{v.loadOption}">
							<f:for each="{v.loadOption}" as="s_val" key="s_key">
								<f:if condition="{prefill.{k}} == {s_key}">
									{s_val.label}
								</f:if>
							</f:for>
						</f:if>
		    		</f:else>
		    	</f:if>
    		</div>
    	</div>
    	<f:if condition="{v.error-text}">
    		<div class="alert alert-danger alert-form"><f:format.raw>{v.error-text}</f:format.raw></div>
    	</f:if>
    	<f:if condition="{v.warning-text}">
    		<div class="alert alert-warning alert-form"><f:format.raw>{v.warning-text}</f:format.raw></div>
    	</f:if>
	</div>
</f:section>

<f:section name="multiSelect">
	<f:form.select multiple="1" id="{target}-{k}" class="form-control {v.required} {v.requiredOr}" name="{k}" value="{prefill.{k}}" style="height:200px;">
		<f:if condition="{v.defaultoption}">
			<f:form.select.option value="">{v.defaultoption}</f:form.select.option>
		</f:if>
		<f:if condition="{v.loadOptionGrp}">
			<f:then>
				<f:for each="{v.loadOptionGrp}" as="g_val" key="g_key">
					<f:if condition="{g_key} == 'zzz_last'">
						<f:then>
							<f:for each="{g_val}" as="s_val" key="s_key">
								<f:form.select.option value="<f:format.raw>{s_val.value}</f:format.raw>"><f:format.raw>{s_val.label}</f:format.raw></f:form.select.option>
							</f:for>
						</f:then>
						<f:else if="{g_val.type} && {g_val.type} == 'solo'">
							<f:form.select.option value="<f:format.raw>{g_val.value}</f:format.raw>"><f:format.raw>{g_val.label}</f:format.raw></f:form.select.option>
						</f:else>
						<f:else>
							<f:form.select.optgroup label="{g_key}">
								<f:for each="{g_val}" as="s_val" key="s_key">
									<f:if condition="{s_val.image} && {s_val.image} != ''">
										<f:then>
											<f:form.select.option value="<f:format.raw>{s_val.value}</f:format.raw>" data="{imagesrc: '{s_val.image.src}',imagetitle: '{s_val.image.title}'}"><f:format.raw>{s_val.label}</f:format.raw></f:form.select.option>
										</f:then>
										<f:else>
											<f:form.select.option value="<f:format.raw>{s_val.value}</f:format.raw>"><f:format.raw>{s_val.label}</f:format.raw></f:form.select.option>
										</f:else>
									</f:if>
								</f:for>
							</f:form.select.optgroup>
						</f:else>
					</f:if>
				</f:for>
			</f:then>
			<f:else>
				<f:if condition="{v.loadOption}">
					<f:for each="{v.loadOption}" as="s_val" key="s_key">
						<f:form.select.option value="<f:format.raw>{s_val.value}</f:format.raw>"><f:format.raw>{s_val.label}</f:format.raw></f:form.select.option>
					</f:for>
				</f:if>
			</f:else>
		</f:if>
	</f:form.select>
</f:section>

<f:section name="singleSelect">
	<f:form.select id="{target}-{k}" class="form-control {v.required} {v.requiredOr}" name="{k}[]" value="{prefill.{k}}">
		<f:if condition="{v.defaultoption}">
			<f:form.select.option value="">{v.defaultoption}</f:form.select.option>
		</f:if>
		<f:if condition="{v.loadOptionGrp}">
			<f:then>
				<f:for each="{v.loadOptionGrp}" as="g_val" key="g_key">
					<f:if condition="{g_key} == 'zzz_last'">
						<f:then>
							<f:for each="{g_val}" as="s_val" key="s_key">
								<f:form.select.option value="{s_val.value}">{s_val.label}</f:form.select.option>
							</f:for>
						</f:then>
						<f:else if="{g_val.type} && {g_val.type} == 'solo'">
							<f:form.select.option value="{g_val.value}">{g_val.label}</f:form.select.option>
						</f:else>
						<f:else>
							<f:form.select.optgroup label="{g_key}">
								<f:for each="{g_val}" as="s_val" key="s_key">
									<f:form.select.option value="{s_val.value}">{s_val.label}</f:form.select.option>
								</f:for>
							</f:form.select.optgroup>
						</f:else>
					</f:if>
				</f:for>
			</f:then>
			<f:else>
				<f:if condition="{v.loadOption}">
					<f:for each="{v.loadOption}" as="s_val" key="s_key">
						<f:form.select.option value="{s_val.value}">{s_val.label}</f:form.select.option>
					</f:for>
				</f:if>
			</f:else>
		</f:if>
	</f:form.select>
</f:section>

<f:section name="fixed-text">
	<div {f:if(condition: '{v.container-id}', then: 'id="{v.container-id}"', else: '')} class="group-text{f:if(condition: '{v.container-class}', then: ' {v.container-class}', else: '')}">
		<f:format.html>{v.text}</f:format.html>
	</div>
</f:section>

<f:section name="copy-field">
	<div {f:if(condition: '{v.container-id}', then: 'id="{v.container-id}"', else: '')} class="form-group row{f:if(condition: '{v.container-class}', then: ' {v.container-class}', else: '')}">
		<div class="container-plus col-12"></div>
		<button type="button" class="btn btn-default field-plus" data-target="{v.target}">{v.btn-text}</button>
	</div>
</f:section>

<f:section name="load-form">
	<div class="form-group row">
		<div class="container-creat"></div>
		<button type="button" class="btn btn-default field-create" data-url="{f:uri.action(action: 'loadform', pageType: '2343', arguments: '{target: \'{v.form-name}\'}')}" data-save-container=".container-creat-spielort">{v.btn-text}</button>
	</div>
</f:section>

<f:section name="datepicker">
	<div {f:if(condition: '{v.container-id}', then: 'id="{v.container-id}"', else: '')} class="form-group row{f:if(condition: '{v.container-class}', then: ' {v.container-class}', else: '')}">
		<f:render section="popover" arguments="{_all}"/>

		<label class="col-md-4 col-form-label">{v.label}</label>

		<div class="col-md-8 row">
			<div class="form_datepicker col-md-8">
				<f:form.hidden name="{k}" value="{prefill.{k}.date}" />
			</div>
			<f:if condition="{v.time}">
				<div class="col-md-4">
					<label class="col-form-label">{v.time-label}</label>
					<div class="row date-input-container">
						<label for="{target}-start-date-time-beginn" class="col-md-4 col-form-label">{v.time-start-label}</label>
						<f:form.textfield id="{target}-start-date-time-beginn" class="form-control" name="{k}-time-start" placeholder="{v.time-start-placeholder}" value="{prefill.{k}.start-time}" />
						<label for="{target}-start-date-time-end" class="col-md-4 col-form-label">{v.time-end-label}</label>
						<f:form.textfield id="{target}-start-date-time-end" class="form-control" name="{k}-time-end" placeholder="{v.time-end-placeholder}" value="{prefill.{k}.end-time}" />
						<label for="{target}-start-date-einlass" class="col-md-4 col-form-label">{v.time-einlass-label}</label>
						<f:form.textfield id="{target}-start-date-einlass" class="form-control" name="{k}-einlass" placeholder="{v.time-einlass-placeholder}" value="{prefill.{k}.einlass}" />
						<label for="{target}-start-date-dauer" class="col-md-4 col-form-label">{v.time-dauer-label}</label>
						<f:form.textfield id="{target}-start-date-dauer" class="form-control" name="{k}-dauer" placeholder="{v.time-dauer-placeholder}" value="{prefill.{k}.dauer}" />
					</div>
				</div>
			</f:if>
		</div>
	</div>
</f:section>

<f:section name="datepicker-start-end">
	<div {f:if(condition: '{v.container-id}', then: 'id="{v.container-id}"', else: '')} class="form-group row{f:if(condition: '{v.container-class}', then: ' {v.container-class}', else: '')}">
		<div class="row">
			<div class="col-md-4{f:if(condition: '{v.container-start-class}', then: ' {v.container-start-class}', else: '')}">
				<f:if condition="{v.popover}">
					<button type="button" class="form-popover" data-container="body" data-toggle="popover" data-trigger="focus" data-content="{v.popover}" tabindex="-1"></button>
				</f:if>
				<label class="col-form-label">{v.label-start}</label>
				<div class="row">
					<div class="form_datepicker">
						<f:form.hidden name="{v.start-name}" value="{prefill.{v.start-name}.date}" />
					</div>
				</div>
			</div>
			<div class="col-md-4{f:if(condition: '{v.container-start-class}', then: ' {v.container-middle-class}', else: '')}{f:if(condition: '{prefill.{v.start-name}.date}', then: ' active', else: '')}">
				<f:if condition="{v.popover-middle}">
					<button type="button" class="form-popover" data-container="body" data-toggle="popover" data-trigger="focus" data-content="{v.popover-middle}" tabindex="-1"></button>
				</f:if>
				<label class="col-form-label">{v.time-label}</label>
				<div class="row date-input-container ml-0 mr-0">
					<label for="{target}-start-date-time-beginn" class="col-md-12 col-lg-5 col-form-label mb-2 dpl">{v.time-start-label}</label>
					<f:form.textfield id="{target}-start-date-time-beginn" class="form-control col-md-12 col-lg-7" name="{k}-time-start" placeholder="{v.time-start-placeholder}" value="{prefill.{v.start-name}.start-time}" />
					<label for="{target}-start-date-time-end" class="col-md-12 col-lg-5 col-form-label mb-2 dpl">{v.time-end-label}</label>
					<f:form.textfield id="{target}-start-date-time-end" class="form-control col-md-12 col-lg-7" name="{k}-time-end" placeholder="{v.time-end-placeholder}" value="{prefill.{v.start-name}.end-time}" />
					<label for="{target}-start-date-einlass" class="col-md-12 col-lg-5 col-form-label mb-2 dpl">{v.time-einlass-label}</label>
					<f:form.textfield id="{target}-start-date-einlass" class="form-control col-md-12 col-lg-7" name="{k}-einlass" placeholder="{v.time-einlass-placeholder}" value="{prefill.{v.start-name}.einlass}" />
					<label for="{target}-start-date-dauer" class="col-md-12 col-lg-5 col-form-label mb-2 dpl">{v.time-dauer-label}</label>
					<f:form.textfield id="{target}-start-date-dauer" class="form-control col-md-12 col-lg-7" name="{k}-dauer" placeholder="{v.time-dauer-placeholder}" value="{prefill.{v.start-name}.dauer}" />
					<div class="btn-day-con col-12 pr-0">
						<div class="crt-day btn w-100 mb-1">Dieses Datum übernehmen</div>
						<div class="mb-1">oder wählen Sie ein Enddatum für mehrtägige oder wiederkehrende Veranstaltungen</div>
						<div class="down-day btn w-100"><span>Enddatum auswählen</span></div>
					</div>
				</div>
			</div>
			<div class="col-md-4{f:if(condition: '{v.container-end-class}', then: ' {v.container-end-class}', else: '')}{f:if(condition: '{prefill.{v.start-name}.date}', then: ' active', else: '')}">
				<f:if condition="{v.popover-end}">
					<button type="button" class="form-popover" data-container="body" data-toggle="popover" data-trigger="focus" data-content="{v.popover-end}" tabindex="-1"></button>
				</f:if>
				<label class="col-form-label">{v.label-end}</label>
				<div class="row">
					<div class="form_datepicker">
						<f:form.hidden name="{v.end-name}" value="{prefill.{v.end-name}.date}" />
					</div>
				</div>
			</div>
		</div>
	</div>
</f:section>

<!--
<f:section name="fileupload">
	<div {f:if(condition: '{v.container-id}', then: 'id="{v.container-id}"', else: '')} class="fileupload-type form-group row{f:if(condition: '{v.container-class}', then: ' {v.container-class}', else: '')}">
		<f:render section="popover" arguments="{_all}"/>

		<label class="col-md-4 col-form-label">{v.label}</label>

		<div class="col-md-8">
			<label for="{target}-{k}" class="fileupload-btn">
				{v.btn-text}
			</label>
			<f:if condition="{prefill.{k}} && {prefill.{k}.0} && {prefill.{k}.0.obj}">
				<f:form.hidden name="{k}[0][oldimg]" value="{prefill.{k}.0.obj.0.uid}" />
			</f:if>
			<span class="file-name">
				<f:if condition="{prefill.{k}} && {prefill.{k}.0.obj} && {prefill.{k}.0.obj.0}">
					{prefill.{k}.0.obj.0.originalResource.name}
				</f:if>
			</span>
			<f:form.upload id="{target}-{k}" name="{k}[0][{k}]" class="form-control fileupload" />
		</div>
		<div class="output row d-none">
    		<div class="col-4">{v.label}</div>
    		<div class="col-8 output-text">
				<f:if condition="{prefill.{k}} && {prefill.{k}.0} && {prefill.{k}.0.obj}">
					<f:image image="{prefill.{k}.0.obj.0}" class="fileupload-img" />
				</f:if>
    		</div>
    	</div>
	</div>
</f:section>
-->

<f:section name="defaultImg">
	<div {f:if(condition: '{v.container-id}', then: 'id="{v.container-id}"', else: '')} class="<f:if condition='{prefill.{k}}'><f:then></f:then><f:else>d-none </f:else></f:if>defaultImg-type form-group row{f:if(condition: '{v.container-class}', then: ' {v.container-class}', else: '')}">
		<f:render section="popover" arguments="{_all}"/>

	    <label for="{target}-{k}" class="col-md-4 col-form-label">{v.label}</label>

	    <div class="defaultImg-item prototyp">
	    	<f:form.hidden class="defaultImg-url" name="{k}[0][url]" />
	    	<f:form.hidden class="defaultImg-title" name="{k}[0][title]" />
	    	
	    	<div class="defaultImg-item-con">
		    	<f:form.checkbox id="defaultImg-save-0" class="defaultImg-save" name="{k}[0][save]" value="1" />
		    	<label for="defaultImg-save-0"></label>
	    		<div class="defaultImg-delete">Entfernen</div>
			</div>
	    </div>

	    <div class="col-md-8 defaultImg-disp">
	    	<f:if condition="{prefill.{k}}">
				<f:for each="{prefill.{k}}" as="img_v" key="img_k" iteration="img_i">
					<div class="defaultImg-item">
				    	<f:form.hidden class="defaultImg-url" name="{k}[{img_i.cycle}][url]" value="{img_v.url}" />
				    	<f:form.hidden class="defaultImg-title" name="{k}[{img_i.cycle}][title]" value="{img_v.title}" />
				    	
				    	<div class="defaultImg-item-con">
					    	<f:form.checkbox id="defaultImg-save-{img_i.cycle}" class="defaultImg-save" name="{k}[{img_i.cycle}][save]" value="1" checked="true" />
					    	<label for="defaultImg-save-{img_i.cycle}">
					    		<img class="defaultImg-preview" src="{img_v.url}"/>
					    		<figcaption>{img_v.title}</figcaption>
					    	</label>
				    		<div class="defaultImg-delete">Entfernen</div>
						</div>
				    </div>
				</f:for>
			</f:if>
	    	
		</div>
	</div>
</f:section>

<f:section name="fileupload">
	<div {f:if(condition: '{v.container-id}', then: 'id="{v.container-id}"', else: '')} class="fileupload-type form-group row{f:if(condition: '{v.container-class}', then: ' {v.container-class}', else: '')}">
		<f:render section="popover" arguments="{_all}"/>

		<div class="file-item row col-12 m-0 prototyp">
			<label class="col-md-4 col-form-label">{v.label}</label>
			<div class="col-md-8">
				<div>
					<label class="fileupload-btn">
						{v.btn-text}
					</label>
					<span class="file-name"></span>
					<f:form.upload name="{k}[0][{k}]" class="form-control fileupload {v.required}" additionalAttributes="{accept: 'image/*'}" />
					<div class="d-none tmp-img-container"></div>
				</div>
				<div>
					<div class="row mx-0 my-2">
						<label class="col-md-4 col-form-label pl-0">Titel</label>
						<div class="col-md-8">
							<f:form.textfield class="form-control no-track ftt" name="{k}[0][title]" />
						</div>
					</div>
					<div class="row mx-0 my-2">
						<label class="col-md-4 col-form-label pl-0">Beschreibung</label>
						<div class="col-md-8">
							<f:form.textarea class="form-control no-track" name="{k}[0][desc]" />
						</div>
					</div>
					<div class="row mx-0 my-2">
						<label class="col-md-4 col-form-label pl-0">Schlagwörter</label>
						<div class="col-md-8">
							<f:form.textfield class="form-control no-track" name="{k}[0][tag]" placeholder="Schlagwort1, Schlagwort2, ..." />
						</div>
					</div>
					<div class="row mx-0 my-2 ftg-con">
						<label class="col-md-4 col-form-label pl-0">Fotograf:in / Urheber:in</label>
						<div class="col-md-8">
							<f:form.textfield class="form-control no-track ftg" name="{k}[0][urheber]" />
						</div>
					</div>
					<div class="row mx-0 my-2">
						<label class="col-md-4 col-form-label pl-0">Quelle</label>
						<div class="col-md-8">
							<f:form.textfield class="form-control no-track" name="{k}[0][quelle]" />
						</div>
					</div>
					<div class="row mx-0 my-2">
						<label class="col-md-4 col-form-label pl-0">Lizenz</label>
						<div class="col-md-8">
							<f:form.textfield class="form-control no-track" name="{k}[0][lizenz]" />
						</div>
					</div>
					<div class="row mx-0 my-2 ftg-ck-con">
						<label class="col-md-4 col-form-label pl-0">Rechte</label>
						<div class="col-md-8">
							<f:comment>
							<!-- <f:form.textfield class="form-control" name="{k}[0][rechte]" placeholder="{v.time-dauer-placeholder}" value="{prefill.{k}.rechte}" /> -->
							</f:comment>
							<label class="cst-check"><f:form.checkbox name="{k}[0][rechte]" value="1" class="ftg-ck" /> Ich garantiere, dass das Bild frei von Rechten Dritter ist. Das Bild darf nur mit Zustimmung der / des Fotografen hochgeladen und genutzt werden. Sollten Personen auf dem Bild erkennbar sein, dann ist das allgemeine Persönlichkeitsrecht zu beachten. Weitere Informationen findet ihr unter <a href="/fileadmin/user_upload/Checkliste_Veröffentlichung_VA-Bilder.pdf" target="_blank">Checkliste Veröffentlichung VA Bilder</a>.</label>
						</div>
					</div>
					<div class="text-right mr-3">
						<input type="button" class="ct-btn file-minus" value="Bild löschen" />
						<input type="button" class="ct-btn file-plus" value="Bild hinzufügen" />
					</div>
					<f:if condition="{v.error-text}">
			    		<div class="alert alert-danger alert-form"><f:format.raw>{v.error-text}</f:format.raw></div>
			    	</f:if>
			    	<f:if condition="{v.warning-text}">
			    		<div class="alert alert-warning alert-form"><f:format.raw>{v.warning-text}</f:format.raw></div>
			    	</f:if>
				</div>
			</div>
		</div>

		<f:if condition="{prefill.{k}}">
			<f:then>
				<f:for each="{prefill.{k}}" as="img_v" key="img_k" iteration="img_i">
					<div class="file-item row col-12 m-0">
						<label class="col-md-4 col-form-label">{v.label}</label>

						<div class="col-md-8">
							<div>
								<label class="fileupload-btn">
									{v.btn-text}
								</label>
								<f:form.hidden class="olgimg" name="{k}[{img_k}][oldimg]" value="{img_v.obj.uid}" />
								<span class="file-name">
									{img_v.obj.originalResource.name}
								</span>
								<f:form.upload name="{k}[{img_k}][{k}]" class="form-control fileupload {v.required}" additionalAttributes="{accept: 'image/*'}" />
								<div class="d-none tmp-img-container"><f:image image="{img_v.obj}" class="fileupload-img" /></div>
							</div>
							<div>
								<div class="row mx-0 my-2">
									<label class="col-md-4 col-form-label pl-0">Titel</label>
									<div class="col-md-8">
										<f:form.textfield class="form-control no-track ftt" name="{k}[{img_k}][title]" value="{img_v.title}" />
									</div>
								</div>
								<div class="row mx-0 my-2">
									<label class="col-md-4 col-form-label pl-0">Beschreibung</label>
									<div class="col-md-8">
										<f:form.textarea class="form-control no-track" name="{k}[{img_k}][desc]" value="{img_v.desc}" />
									</div>
								</div>
								<div class="row mx-0 my-2">
									<label class="col-md-4 col-form-label pl-0">Schlagwörter</label>
									<div class="col-md-8">
										<f:form.textfield class="form-control no-track" name="{k}[{img_k}][tag]" placeholder="Schlagwort1, Schlagwort2, ..." value="{img_v.tag}" />
									</div>
								</div>
								<div class="row mx-0 my-2 ftg-con">
									<label class="col-md-4 col-form-label pl-0">Fotograf:in / Urheber:in</label>
									<div class="col-md-8">
										<f:form.textfield class="form-control no-track ftg" name="{k}[{img_k}][urheber]" value="{img_v.urheber}" />
									</div>
								</div>
								<div class="row mx-0 my-2">
									<label class="col-md-4 col-form-label pl-0">Quelle</label>
									<div class="col-md-8">
										<f:form.textfield class="form-control no-track" name="{k}[{img_k}][quelle]" value="{img_v.quelle}" />
									</div>
								</div>
								<div class="row mx-0 my-2">
									<label class="col-md-4 col-form-label pl-0">Lizenz</label>
									<div class="col-md-8">
										<f:form.textfield class="form-control no-track" name="{k}[{img_k}][lizenz]" value="{img_v.lizenz}" />
									</div>
								</div>
								<div class="row mx-0 my-2 ftg-ck-con">
									<label class="col-md-4 col-form-label pl-0">Rechte</label>
									<div class="col-md-8">
										<f:comment>
										<!-- <f:form.textfield class="form-control" name="{k}[{img_k}][rechte]" placeholder="{v.time-dauer-placeholder}" value="{img_v.rechte}" /> -->
										</f:comment>

										<label class="cst-check"><f:form.checkbox name="{k}[{img_k}][rechte]" value="1" class="ftg-ck" checked="{img_v.rechte}" /> Ich garantiere, dass das Bild frei von Rechten Dritter ist. Das Bild darf nur mit Zustimmung der / des Fotografen hochgeladen und genutzt werden. Sollten Personen auf dem Bild erkennbar sein, dann ist das allgemeine Persönlichkeitsrecht zu beachten. Weitere Informationen findet ihr unter <a href="/fileadmin/user_upload/Checkliste_Veröffentlichung_VA-Bilder.pdf" target="_blank">Checkliste Veröffentlichung VA Bilder</a>.</label>
									</div>
								</div>
								<div class="text-right mr-3">
									<input type="button" class="ct-btn file-minus" value="Bild löschen" />
									<input type="button" class="ct-btn file-plus" value="Bild hinzufügen" />
								</div>
							</div>

							<f:if condition="{v.error-text}">
					    		<div class="alert alert-danger alert-form"><f:format.raw>{v.error-text}</f:format.raw></div>
					    	</f:if>
					    	<f:if condition="{v.warning-text}">
					    		<div class="alert alert-warning alert-form"><f:format.raw>{v.warning-text}</f:format.raw></div>
					    	</f:if>
						</div>
					</div>
				</f:for>
			</f:then>
			<f:else>
				<div class="file-item row col-12 m-0">
					<label class="col-md-4 col-form-label">{v.label}</label>

					<div class="col-md-8">
						<div>
							<label class="fileupload-btn">
								{v.btn-text}
							</label>
							<span class="file-name"></span>
							<f:form.upload name="{k}[0][{k}]" class="form-control fileupload {v.required}" additionalAttributes="{accept: 'image/*'}" />
							<div class="d-none tmp-img-container"></div>
						</div>
						<div>
							<div class="row mx-0 my-2">
								<label class="col-md-4 col-form-label pl-0">Titel</label>
								<div class="col-md-8">
									<f:form.textfield class="form-control no-track ftt" name="{k}[0][title]" />
								</div>
							</div>
							<div class="row mx-0 my-2">
								<label class="col-md-4 col-form-label pl-0">Beschreibung</label>
								<div class="col-md-8">
									<f:form.textarea class="form-control no-track" name="{k}[0][desc]" />
								</div>
							</div>
							<div class="row mx-0 my-2">
								<label class="col-md-4 col-form-label pl-0">Schlagwörter</label>
								<div class="col-md-8">
									<f:form.textfield class="form-control no-track" name="{k}[0][tag]" placeholder="Schlagwort1, Schlagwort2, ..." />
								</div>
							</div>
							<div class="row mx-0 my-2 ftg-con">
								<label class="col-md-4 col-form-label pl-0">Fotograf:in / Urheber:in</label>
								<div class="col-md-8">
									<f:form.textfield class="form-control no-track ftg" name="{k}[0][urheber]" />
								</div>
							</div>
							<div class="row mx-0 my-2">
								<label class="col-md-4 col-form-label pl-0">Quelle</label>
								<div class="col-md-8">
									<f:form.textfield class="form-control no-track" name="{k}[0][quelle]" />
								</div>
							</div>
							<div class="row mx-0 my-2">
								<label class="col-md-4 col-form-label pl-0">Lizenz</label>
								<div class="col-md-8">
									<f:form.textfield class="form-control no-track" name="{k}[0][lizenz]" />
								</div>
							</div>
							<div class="row mx-0 my-2 ftg-ck-con">
								<label class="col-md-4 col-form-label pl-0">Rechte</label>
								<div class="col-md-8">
									<f:comment>
									<!-- <f:form.textfield class="form-control" name="{k}[0][rechte]" placeholder="{v.time-dauer-placeholder}" /> -->
									</f:comment>
									<label class="cst-check"><f:form.checkbox name="{k}[0][rechte]" value="1" class="ftg-ck" /> Ich garantiere, dass das Bild frei von Rechten Dritter ist. Das Bild darf nur mit Zustimmung der / des Fotografen hochgeladen und genutzt werden. Sollten Personen auf dem Bild erkennbar sein, dann ist das allgemeine Persönlichkeitsrecht zu beachten. Weitere Informationen findet ihr unter <a href="/fileadmin/user_upload/Checkliste_Veröffentlichung_VA-Bilder.pdf" target="_blank">Checkliste Veröffentlichung VA Bilder</a>.</label>
								</div>
							</div>
							<div class="text-right mr-3">
								<input type="button" class="ct-btn file-minus" value="Bild löschen" />
								<input type="button" class="ct-btn file-plus" value="Bild hinzufügen" />
							</div>
						</div>

				    	<f:if condition="{v.error-text}">
				    		<div class="alert alert-danger alert-form"><f:format.raw>{v.error-text}</f:format.raw></div>
				    	</f:if>
				    	<f:if condition="{v.warning-text}">
				    		<div class="alert alert-warning alert-form"><f:format.raw>{v.warning-text}</f:format.raw></div>
				    	</f:if>
					</div>
				</div>
			</f:else>
		</f:if>
		<div class="output row d-none">
    		<div class="col-4">{v.label}</div>
    		<div class="col-8 output-text">
				<f:if condition="{prefill.{k}}">
					<f:for each="{prefill.{k}}" as="img_v">
						<f:image image="{img_v.obj}" class="fileupload-img" />
						<figcaption>{img_v.title}</figcaption>
					</f:for>
				</f:if>
    		</div>
    	</div>
	</div>
</f:section>

<f:section name="pdfupload">
	<div {f:if(condition: '{v.container-id}', then: 'id="{v.container-id}"', else: '')} class="fileupload-type form-group row{f:if(condition: '{v.container-class}', then: ' {v.container-class}', else: '')}">
		<f:render section="popover" arguments="{_all}"/>

		<div class="file-item row col-12 m-0 prototyp">
			<label class="col-md-4 col-form-label">{v.label}</label>
			<div class="col-md-8">
				<div>
					<label class="fileupload-btn">
						{v.btn-text}
					</label>
					<span class="file-name"></span>
					<f:form.upload name="{k}[0][{k}]" class="form-control fileupload" additionalAttributes="{accept: 'application/pdf'}" />
					<div class="d-none tmp-img-container"></div>
				</div>
				<div>
					<div class="row mx-0 my-2">
						<label class="col-md-4 col-form-label pl-0">Titel</label>
						<div class="col-md-8">
							<f:form.textfield class="form-control no-track" name="{k}[0][title]" />
						</div>
					</div>
					<div class="row mx-0 my-2">
						<label class="col-md-4 col-form-label pl-0">Beschreibung</label>
						<div class="col-md-8">
							<f:form.textarea class="form-control no-track" name="{k}[0][desc]" />
						</div>
					</div>
					<div class="row mx-0 my-2">
						<label class="col-md-4 col-form-label pl-0">Schlagwörter</label>
						<div class="col-md-8">
							<f:form.textfield class="form-control no-track" name="{k}[0][tag]" placeholder="Schlagwort1, Schlagwort2, ..." />
						</div>
					</div>
					<div class="text-right mr-3">
						<input type="button" class="ct-btn file-minus" value="PDF löschen" />
						<input type="button" class="ct-btn file-plus" value="PDF hinzufügen" />
					</div>
				</div>
			</div>
		</div>

		<f:if condition="{prefill.{k}}">
			<f:then>
				<f:for each="{prefill.{k}}" as="img_v" key="img_k" iteration="img_i">
					<div class="file-item row col-12 m-0">
						<label class="col-md-4 col-form-label">{v.label}</label>

						<div class="col-md-8">
							<div>
								<label class="fileupload-btn">
									{v.btn-text}
								</label>
								<f:form.hidden class="olgimg" name="{k}[{img_k}][oldimg]" value="{img_v.obj.uid}" />
								<span class="file-name">
									{img_v.obj.originalResource.name}
								</span>
								<f:form.upload name="{k}[{img_k}][{k}]" class="form-control fileupload" additionalAttributes="{accept: 'application/pdf'}" />
								<div class="d-none tmp-img-container"><f:image image="{img_v.obj}" class="fileupload-img" /></div>
							</div>
							<div>
								<div class="row mx-0 my-2">
									<label class="col-md-4 col-form-label pl-0">Titel</label>
									<div class="col-md-8">
										<f:form.textfield class="form-control no-track" name="{k}[{img_k}][title]" value="{img_v.title}" />
									</div>
								</div>
								<div class="row mx-0 my-2">
									<label class="col-md-4 col-form-label pl-0">Beschreibung</label>
									<div class="col-md-8">
										<f:form.textarea class="form-control no-track" name="{k}[{img_k}][desc]" value="{img_v.desc}" />
									</div>
								</div>
								<div class="row mx-0 my-2">
									<label class="col-md-4 col-form-label pl-0">Schlagwörter</label>
									<div class="col-md-8">
										<f:form.textfield class="form-control no-track" name="{k}[{img_k}][tag]" placeholder="Schlagwort1, Schlagwort2, ..." value="{img_v.tag}" />
									</div>
								</div>
								<div class="text-right mr-3">
									<input type="button" class="ct-btn file-minus" value="PDF löschen" />
									<input type="button" class="ct-btn file-plus" value="PDF hinzufügen" />
								</div>
							</div>
						</div>
					</div>
				</f:for>
			</f:then>
			<f:else>
				<div class="file-item row col-12 m-0">
					<label class="col-md-4 col-form-label">{v.label}</label>

					<div class="col-md-8">
						<div>
							<label class="fileupload-btn">
								{v.btn-text}
							</label>
							<span class="file-name"></span>
							<f:form.upload name="{k}[0][{k}]" class="form-control fileupload" additionalAttributes="{accept: 'application/pdf'}" />
							<div class="d-none tmp-img-container"></div>
						</div>
						<div>
							<div class="row mx-0 my-2">
								<label class="col-md-4 col-form-label pl-0">Titel</label>
								<div class="col-md-8">
									<f:form.textfield class="form-control no-track" name="{k}[0][title]" />
								</div>
							</div>
							<div class="row mx-0 my-2">
								<label class="col-md-4 col-form-label pl-0">Beschreibung</label>
								<div class="col-md-8">
									<f:form.textarea class="form-control no-track" name="{k}[0][desc]" />
								</div>
							</div>
							<div class="row mx-0 my-2">
								<label class="col-md-4 col-form-label pl-0">Schlagwörter</label>
								<div class="col-md-8">
									<f:form.textfield class="form-control no-track" name="{k}[0][tag]" placeholder="Schlagwort1, Schlagwort2, ..." />
								</div>
							</div>
							<div class="text-right mr-3">
								<input type="button" class="ct-btn file-minus" value="PDF löschen" />
								<input type="button" class="ct-btn file-plus" value="PDF hinzufügen" />
							</div>
						</div>
					</div>
				</div>
			</f:else>
		</f:if>
		<div class="output row d-none">
    		<div class="col-4">{v.label}</div>
    		<div class="col-8 output-text">
				<f:if condition="{prefill.{k}}">
					<f:for each="{prefill.{k}}" as="img_v">
						<f:image image="{img_v.obj}" class="fileupload-img" />
						<figcaption>{img_v.title}</figcaption>
					</f:for>
				</f:if>
    		</div>
    	</div>
	</div>
</f:section>

<f:section name="checkbox">
	<div {f:if(condition: '{v.container-id}', then: 'id="{v.container-id}"', else: '')} class="form-group row{f:if(condition: '{v.container-class}', then: ' {v.container-class}', else: '')}">
		<f:render section="popover" arguments="{_all}"/>

		<label for="{target}-{k}" class="col-md-4 col-form-label">{v.label}</label>
	    <div class="col-md-8">

	    	<f:if condition="{v.asFor}">
	    		<f:then>
	    			<f:form.checkbox id="{target}-{k}" class="form-control" name="{v.asFor}[0][{k}]" value="1" checked="{prefill.{v.asFor}.0.rechte}" additionalAttributes="{data-num: '0'}" />
	    		</f:then>
	    		<f:else>
	    			<f:form.checkbox id="{target}-{k}" class="form-control" name="{k}" value="1" checked="{prefill.{k}}" />
	    		</f:else>
	    	</f:if>
	    </div>
	    <div class="output row d-none">
    		<div class="col-4">{v.label}</div>
    		<div class="col-8 output-text"></div>
    	</div>
	</div>
</f:section>

<f:section name="multiple">
	<div {f:if(condition: '{v.container-id}', then: 'id="{v.container-id}"', else: '')} class="multiple-type form-group{f:if(condition: '{v.container-class}', then: ' {v.container-class}', else: '')}">
		<f:for each="{v.items}" as="v" key="k" iteration="i">
			<f:render section="{v.type}" arguments="{_all}"/>
		</f:for>
		<div class="output output-multilpe d-none">

    	</div>
	</div>
</f:section>

<f:section name="multiple-row">
	<div {f:if(condition: '{v.container-id}', then: 'id="{v.container-id}"', else: '')} class="multiple-type-row form-group{f:if(condition: '{v.container-class}', then: ' {v.container-class}', else: '')}">
		<f:for each="{v.items}" as="v" key="k" iteration="i">
			<f:render section="{v.type}" arguments="{_all}"/>
		</f:for>
	</div>
</f:section>

<f:section name="zusammenfassung">
	<div {f:if(condition: '{v.container-id}', then: 'id="{v.container-id}"', else: '')} class="summary-type form-group{f:if(condition: '{v.container-class}', then: ' {v.container-class}', else: '')}">
		<div class="summary-content"></div>
	</div>
</f:section>

<f:section name="button-group">
	<div {f:if(condition: '{v.container-id}', then: 'id="{v.container-id}"', else: '')} class="form-group{f:if(condition: '{v.container-class}', then: ' {v.container-class}', else: '')}">
		<div>
			<div class="editorcomment">
				<p>Interne Anmerkung, diese wird NICHT veröffentlicht.</p>
				<f:form.textarea class="form-control {v.required}" name="editoranmerkung" value="{prefill.editoranmerkung}" />	
			</div>
			<p><strong>Stimmen alle Daten? Wenn ja, dann können Sie:</strong></p>
			<div class="save_btn_group">
				<f:if condition="{permission.saveEvents} == 1">
					<div type="submit" data-value="0" class="frm-btn btn-tosave btn-publish"><div class="btn-text">Speichern und veröffentlichen</div><span class="joSprite"></span></div>
				</f:if>
				<f:if condition="{formular.settings.save.savenotpublish2}">
   					<div type="submit" data-value="1" class="frm-btn btn-tosave btn-save"><div class="btn-text">Speichern aber nicht veröffentlichen</div><span class="joSprite"></span></div> 
   				</f:if>
   			</div>
		</div>
		<div class="d-none">
			<p><strong>Sie haben einen Fehler entdeckt? Klicken Sie einfach auf die Symbole im oberen Bereich um die Veranstaltung zu editieren.</strong></p>
			<div class="save_btn_group d-none">
				<div type="submit" data-value="3" class="frm-btn btn-tosave btn-save2"><div class="btn-text">Speichern aber nicht veröffentlichen</div><span class="joSprite"></span></div>
   				<div class="extended-next d-none"><div class="btn-text">Zu den erweiterten Daten</div><span class="joSprite"></span></div>
   			</div>
		</div>
	</div>
</f:section>


<f:comment>
	<!-- --------------------------------------------- Helpers --------------------------------------------- -->
</f:comment>

<f:section name="popover">
	<f:if condition="{v.popover}">
		<button type="button" class="form-popover" data-container="body" data-toggle="popover" data-trigger="focus" data-content="{v.popover}" tabindex="-1"></button>
	</f:if>
</f:section>