<div class="kontakt-container">
	<div class="back">
		<f:link.page>Übersicht</f:link.page> // Mitteilung an die Redaktion
	</div>

	<f:form id="kontakt-form" class="kontakt-form mt-3" action="kontakt" pageType="2343">
		<div class="form-group">
		    <label for="betreff">Betreff*</label>
		    <f:form.textfield id="betreff" class="form-control" name="betreff" required="required" />
		</div>
		<div class="form-group">
		    <label for="beshcreibung">Beschreibung*</label>
		    <f:form.textarea id="beshcreibung" class="form-control" name="beschreibung" required="required" />
		</div>

		<button type="submit" class="btn btn-primary">Absenden</button>
	</f:form>
</div>