{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_terms form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
            <label class="checkbox">
                <f:form.checkbox
                        id="femanager_field_terms"
                        property="terms"
                        value="Terms and conditions"
                        checked="false"
                        additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'terms')}" />
                Durch die Nutzung der Eingabemaske bestätigen Sie, dass Sie die <f:link.page pageUid="17" target="_blank">Datenschutzerklärung</f:link.page> und <f:link.page pageUid="11" target="_blank">Nutzungsbedingungen</f:link.page> der LAG Soziokultur Schleswig-Holstein gelesen haben und diesen zustimmen.
                <f:if condition="{femanager:Validation.IsRequiredField(fieldName:'terms')}">
                    <span>*</span>
                </f:if>
                <f:if condition="{settings.misc.termsUrl}">
                    <f:then>
                        (<f:link.page pageUid="{settings.misc.termsUrl}" target="_blank">Datenschutzerklärung und Nutzungsbedingungen</f:link.page>)
                    </f:then>
                </f:if>
            </label>
        </div>
    </div>
</div>
