{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_veranstalter form-group">
    <label for="femanager_field_veranstalter" class="col-sm-2 control-label">
        Veranstalter Xtree
        <f:if condition="{femanager:Validation.IsRequiredField(fieldName:'veranstalterxtree')}">
            <span>*</span>
        </f:if>
    </label>
    <div class="col-sm-10">
        <femanager:form.select 
            id="femanager_field_veranstalterxtree" 
            name="veranstalterxtree" 
            class="form-control" 
            defaultOption="Bitte wählen..." 
            options="{veranstalterxtree}" 
            optionLabelField="name"
            value="{user.veranstalterxtree}"
            additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'veranstalterxtree')}" />
    </div>
</div>