<div class="build_container">
	<h4>Willkommen {username}, was möchten Sie tun?</h4>

	<div class="select-container row">
		<div class="col-3 item new_event" data-url="{f:uri.action(action: 'loadform', pageType: '2343', arguments: '{target: \'new_event\'}')}">
			<div class="item-con">
				<div class="bg-icon"></div>
				<div class="title">Neue Veranstaltung hinzufügen</div>
			</div>
		</div>
		<div class="col-3 item edit_event" data-url="{f:uri.action(action: 'loadform', pageType: '2343', arguments: '{target: \'edit_event_performance\'}')}">
			<div class="item-con">
				<div class="bg-icon"></div>
				<div class="title">Meine Veranstaltungen anzeigen/ändern</div>
			</div>
		</div>
		<f:if condition="{hideEditOrganizer} != true">
			<div class="col-3 item new_location" data-url="{f:uri.action(action: 'loadform', pageType: '2343', arguments: '{target: \'new_location\'}')}">
				<div class="item-con">
					<div class="bg-icon"></div>
					<div class="title">Veranstaltungsort hinzufügen</div>
				</div>
			</div>
			<div class="col-3 item edit_location" data-url="{f:uri.action(action: 'loadform', pageType: '2343', arguments: '{target: \'list_location\'}')}">
				<div class="item-con">
					<div class="bg-icon"></div>
					<div class="title">Veranstaltungsorte anzeigen/ändern</div>
				</div>
			</div>
		</f:if>
		<f:comment>
		<!--
		<div class="col-3 item new_ver_type" data-url="{f:uri.action(action: 'loadform', pageType: '2343', arguments: '{target: \'new_ver_type\'}')}">
			<div class="item-con">
				<div class="bg-icon"></div>
				<div class="title">Kategorie hinzufügen</div>
			</div>
		</div>
		<div class="col-3 item edit_ver_type" data-url="{f:uri.action(action: 'loadform', pageType: '2343', arguments: '{target: \'list_ver_type\'}')}">
			<div class="item-con">
				<div class="bg-icon"></div>
				<div class="title">Kategorien anzeigen/ändern</div>
			</div>
		</div>
		<div class="col-3 item new_ver_art" data-url="{f:uri.action(action: 'loadform', pageType: '2343', arguments: '{target: \'new_ver_art\'}')}">
			<div class="item-con">
				<div class="bg-icon"></div>
				<div class="title">Merkmal hinzufügen</div>
			</div>
		</div>
		<div class="col-3 item edit_ver_art" data-url="{f:uri.action(action: 'loadform', pageType: '2343', arguments: '{target: \'list_ver_art\'}')}">
			<div class="item-con">
				<div class="bg-icon"></div>
				<div class="title">Merkmale anzeigen/ändern</div>
			</div>
		</div>
		-->
		</f:comment>
		
		<f:comment>
			<!--
			<f:if condition="{hideEditOrganizer} != true">
				<div class="col-3 item new_veranstalter" data-url="{f:uri.action(action: 'loadform', pageType: '2343', arguments: '{target: \'new_veranstalter\'}')}">
					<div class="item-con">
						<div class="bg-icon"></div>
						<div class="title">Veranstalter erstellen</div>
					</div>
				</div>
				<div class="col-3 item edit_veranstalter" data-url="{f:uri.action(action: 'loadform', pageType: '2343', arguments: '{target: \'list_veranstalter\'}')}">
					<div class="item-con">
						<div class="bg-icon"></div>
						<div class="title">Veranstalter anzeigen/ändern</div>
					</div>
				</div>
			</f:if>
			-->
		</f:comment>
		<div class="d-none col-3 item user" data-url="{f:uri.action(action: 'loadform', pageType: '2343', arguments: '{target: \'user\'}')}">
			<div class="item-con">
				<div class="bg-icon"></div>
				<div class="title">Meine Daten anzeigen/ändern</div>
			</div>
		</div>
		<div class="d-none col-3 item faq" data-url="{f:uri.action(action: 'loadform', pageType: '2343', arguments: '{target: \'faq\'}')}">
			<div class="item-con">
				<div class="bg-icon"></div>
				<div class="title">Fragen und Support</div>
			</div>
		</div>
		<div class="d-none col-3 item new_news" data-url="{f:uri.action(action: 'loadform', pageType: '2343', arguments: '{target: \'new_news\'}')}">
			<div class="item-con">
				<div class="bg-icon"></div>
				<div class="title">Neuigkeit hinzufügen</div>
			</div>
		</div>
		<div class="d-none col-3 item edit_news" data-url="{f:uri.action(action: 'loadform', pageType: '2343', arguments: '{target: \'edit_news\'}')}">
			<div class="item-con">
				<div class="bg-icon"></div>
				<div class="title">Neuigkeiten anzeigen/ändern</div>
			</div>
		</div>
		<f:if condition="{anleitung}">
			<a class="item-nolink col-3 faq" href="{anleitung.publicUrl}" target="_blank">
				<div class="item-con">
					<div class="bg-icon"></div>
					<div class="title">Anleitung</div>
				</div>
			</a>
		</f:if>
		<div class="col-3 item kontakt" data-url="{f:uri.action(action: 'loadform', pageType: '2343', arguments: '{target: \'kontakt_form\'}')}">
			<div class="item-con">
				<div class="bg-icon"></div>
				<div class="title">Mitteilung an die Redaktion</div>
			</div>
		</div>
	</div>

	<div class="output-container">

	</div>

	<f:if condition="{saved}">
		<div class="d-none saved-message">Erfolgreich gespeichert!</div>
	</f:if>
	
	<f:link.page class="d-none currentPage" absolute="1">currentPage</f:link.page>
</div>