<f:if condition="{output}">
	<div class="ajx-delete-con">
		<f:if condition="{output.message}">
			<div class="ajx-d-text alert alert-success">
				{output.message}
			</div>
		</f:if>
		<f:if condition="{output.error}">
			<div class="ajx-d-text alert alert-danger">
				<f:format.html>{output.error}</f:format.html>
			</div>
		</f:if>
	</div>
</f:if>