<f:if condition="{id} && {target}">
	<div class="targetUrl" data-url="{f:uri.action(action: 'loadform', pageType: '2343', arguments: '{target: \'{target}\', ep: \'{id}\', es: \'{id}\'}')}" ></div>
</f:if>

<f:if condition="{redirect}">
	<div class="targetRedirectUrl" data-url="{redirect}" ></div>
</f:if>