<f:comment>
<!--
	<f:switch expression="{formular}">
	   <f:case value="new_event"><f:render partial="Form/NewEvent" arguments="{_all}" /></f:case>
	   <f:case value="edit_event">edit_event</f:case>
	   <f:case value="user">new user</f:case>
	   <f:case value="new_location">new_location</f:case>
	   <f:case value="edit_location">edit_location</f:case>
	   <f:case value="faq">faq</f:case>
	   <f:case value="new_news">new_news</f:case>
	   <f:case value="edit_news">edit_news</f:case>
	   <f:defaultCase>Something gone wrong.</f:defaultCase>
	</f:switch>
-->
</f:comment>

<f:if condition="{formular}">
	<f:then>
		<f:render partial="Form/FormBuilder" arguments="{_all}" />
	</f:then>
	<f:else>
		<f:switch expression="{target}">
		   <f:case value="edit_event_performance"><f:render partial="Form/EditEvent" arguments="{_all}" /></f:case>
		   <f:case value="user">new user</f:case>
		   <f:case value="new_location">new_location</f:case>
		   <f:case value="list_location"><f:render partial="Form/EditLocation" arguments="{_all}" /></f:case>
		   <f:case value="list_veranstalter"><f:render partial="Form/EditVeranstalter" arguments="{_all}" /></f:case>
		   <f:case value="faq">faq</f:case>
		   <f:case value="new_news">new_news</f:case>
		   <f:case value="edit_news">edit_news</f:case>
		   <f:case value="list_ver_type"><f:render partial="Form/EditVerType" arguments="{_all}" /></f:case>
		   <f:case value="list_ver_art"><f:render partial="Form/EditVerArt" arguments="{_all}" /></f:case>
		   <f:case value="kontakt_form"><f:render partial="Form/Kontakt" arguments="{_all}" /></f:case>
		   <f:defaultCase>Something gone wrong.</f:defaultCase>
		</f:switch>
	</f:else>
</f:if>
