<f:if condition="{output}">
	<div class="ajx-search-con">
		<div class="ajx-s-text">
			<f:format.html>{output.message}</f:format.html>
		</div>
		<f:if condition="{output.objects}">
			<div class="ajx-s-items">
				<div class="ajx-s-item ajx-s-header row no-gutters">
					<div class="col">uID</div>
					<div class="col">Name</div>
				</div>
				<f:for each="{output.objects}" as="item" key="key">
					<div class="ajx-s-item row no-gutters">
						<div class="col">{item.uid}</div>
						<div class="col">{item.name}</div>
					</div>
				</f:for>
			</div>
		</f:if>
	</div>
</f:if>