<a id="skippy" class="sr-only sr-only-focusable" href="#content">
	<div class="container">
		<span class="skiplink-text">Zum Hauptinhalt</span>
	</div>
</a>

<header id="main-header">
	<div class="container mh-con">
		<f:cObject typoscriptObjectPath="lib.headerContent" />
	</div>
</header>

<main id="content">
	<div class="joMainWrapper container py-5">
		<f:cObject typoscriptObjectPath="lib.mainContent" />
	</div>
</main>

<footer>
	<div class="footer-wrap container py-5">
		<f:cObject typoscriptObjectPath="lib.footerContent" />
	</div>
</footer>

<div id="joAjaxloader" style="display: none;">
    <div class="joLoader"></div>
</div>

<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalTitle" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      	<div class="modal-header">
	        	<h5 class="modal-title" id="formModalTitle">Modal title</h5>
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          		<span aria-hidden="true">&times;</span>
	        	</button>
	      	</div>
	      	<div class="modal-body"></div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
	        	<button type="button" class="btn btn-primary">Ok</button>
      		</div>
	    </div>
	</div>
</div>

<div id="mobile-hidden" class="d-none d-sm-none d-md-block"></div>