.main-header {

}
.mh-con {
    display: flex;
    padding-top: 20px;
}
.mh-con > .frame:last-child:not(:first-child) {
    margin-left: auto;
}
.frame-type-felogin_login > h3,
.frame-type-felogin_login > p,
.mh-con .frame-type-felogin_login legend {
    display: none;
}
.frame-type-felogin_login input[type="submit"] {
    /* background-image: linear-gradient(to bottom, #8B1D01 0%, #000 131%, #8B1D01 100%); */
    background-color: #264493;
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    border: 0;
}
.frame-type-felogin_login input[type="text"],
.frame-type-felogin_login input[type="password"] {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
}
.frame-type-felogin_login input[type="text"]:focus,
.frame-type-felogin_login input[type="password"]:focus {
    box-shadow: none;
    border-color: #AC2401;
}
.joSprite {
    background-image: url(../Images/sprite_portal_black.svg);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 0px 0px;
}
.build_container > h4 {
	margin-bottom: 30px;
}
.build_container > .row {
    /* width: 100%; */
}
.femanager_show ul a{
	color:#000;
}
.item,
.item-nolink {
	margin-bottom: 30px;
	cursor: pointer;
}
.item-con {
    height: 100%;
    border: 1px solid #707070;
}
.item .title,
.item-nolink .title {
	text-align: center;
	padding: 15px;
}
.item-nolink {
    color: black;
}
.item-nolink:hover {
    color: black;
    text-decoration: none;
}
.bg-icon {
	background-position: center;
	background-repeat: no-repeat;
    background-size: 30%;
    padding-bottom: calc(100% - 54px);
}
.new_event .bg-icon {
	background-image: url('../Images/new_event.svg');
}
.edit_event .bg-icon {
	background-image: url('../Images/edit_event.svg');
}
.user .bg-icon {
	background-image: url('../Images/user.svg');
}
.new_location .bg-icon {
	background-image: url('../Images/new_location.svg');
}
.edit_location .bg-icon {
	background-image: url('../Images/edit_location.svg');
}
.faq .bg-icon {
	background-image: url('../Images/faq.svg');
}
.kontakt .bg-icon {
    background-image: url('../Images/contact.svg');
}
.new_veranstalter .bg-icon,
.new_news .bg-icon,
.new_ver_type .bg-icon,
.new_ver_art .bg-icon {
	background-image: url('../Images/new_news.svg');
}
.edit_veranstalter .bg-icon,
.edit_news .bg-icon,
.edit_ver_type .bg-icon,
.edit_ver_art .bg-icon  {
	background-image: url('../Images/edit_news.svg');
}
.output-container {
	display: none;
}
.output-con > .row {
    margin: 0;
    width: 100%;
}
.output {
    margin-top: 5px;
}
.output-multilpe {
    padding-left: 20px;
    margin: 10px 0;
}
.output-con .ort {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* New Event Form */
.progress-menu-container {
    position: relative;
    padding: 10px 4px;
}
.progress-menu {
    padding: 15px 10px;
    display: inline-block;
    margin: 35px 0px;
    width: 100%;
    outline: 1px solid grey;
    box-shadow: 0px 0px 8px 0px rgba(90,90,90,.5);
}
.menu-steps {
    position: relative;
    margin: 0;
    overflow: hidden;
    padding: 0;
    list-style: none;
}
.menu-step {
    list-style-type: none;
    position: relative;
}
.menu-step:before {
    content: '';
    width: 35px;
    height: 35px;
    display: block;
    background: white;
    margin: 0 auto;
    cursor: pointer;
    background-image: url(../Images/sprite_portal_black.svg);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: -3px -3px;
}
.menu-step.active:before {
    background-image: url(../Images/sprite_portal_red.svg);
}
.menu-step:after {
    content: '';
    width: 100%;
    border: 2px solid rgba(0,0,0,.5);
    position: absolute;
    left: -50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
/* @all irgendwie die icons eingabe anders machen - Start */
.menu-step.icon-1:before {
	background-position: -3px -83px;
}
.menu-step.icon-2:before {
	background-position: -83px -4px;
}
.menu-step.icon-3:before {
	background-position: -404px -83px;
}
.menu-step.icon-4:before {
	background-position: -402px -124px;
}
.menu-step.icon-5:before {
	background-position: -523px -164px;
}
.menu-step.icon-6:before {
	background-position: -601px -3px;
}
.menu-step.icon-7:before {
	background-position: -762px -202px;
}
.menu-step.icon-8:before {
	background-position: -483px -163px;
}
/* @all irgendwie die icons eingabe anders machen - Ende */
.menu-step.active:after {
    border-color: rgba(0,0,0,.5);
}
.menu-step.active ~ li:after {
    border: 2px solid rgba(0,0,0,.25);
}
.menu-step.active ~ li:before {
}
.menu-step:first-child:after {
    content: none;
}

.progress-btn {
    display: inline-block;
    background-color: Transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-weight: bold;
    position: absolute;
    left: -30px;
    top: 0px;
    padding: 0;
    height: 100%;
    width: 30px;
    opacity: .5;
    transition: .5s opacity ease;
}
.progress-btn:hover {
    opacity: 1;
}
.progress-btn:focus {
	outline: none;
}
.progress-btn .joSprite {
    background-position: -526px -41px;

    display: flex;
    width: 100%;
    height: 40px;
    align-self: center;
}
.button-prev {
    transform: scaleX(-1);
    display: none;
}
.button-next {
    left: auto;
    right: -30px;
}

.form-content {
    position: relative;
    width: 100%;
    min-height: 1px;
    overflow-x: clip;
    transition: min-height .5s ease;
}
.form-page {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: right 1s ease, visibility 1s ease;
    visibility: hidden;
}
.form-page > h4 {
    margin-bottom: 30px;
}
.form-page.active {
    right: 0%;
    visibility: visible;
}
.slideout {
    right: 100%;
}
.kill_transition {
    transition: none;
}
.form-items-container {
    outline: 1px solid grey;
    box-shadow: 0px 0px 8px 0px rgb(90 90 90 / 50%);
    padding: 15px 30px;
    width: calc(100% - 8px);
    margin: 0 auto; 
}
.form-items-container .form-group {
	position: relative;
    border-bottom: 1px solid grey;
    margin: 0 0 15px 0;
    padding-bottom: 15px;
}
.form-items-container .form-group:last-child {
	border-bottom: 0;
}
.form-items-container .form-group > div:last-child {
	padding-right: 0;
}
.form-items-container .col-form-label {
    padding-left: 60px;
}
.form-items-container textarea {
	min-height: 150px;
}
.form-popover {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
	background-image: url(../Images/sprite_portal_black.svg);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: -606px -166px;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 4px;
    z-index: 10;
    border: none;
    background-color: transparent;
    outline: none;
}
.form-popover:focus {
    outline: none;
}
.back a {
    color: #AC2401;
}
input.form-control,
textarea.form-control {
    border-radius: 0;
}
input.form-control:focus,
textarea.form-control:focus {
    box-shadow: none;
    border-color: #AC2401;
}
.continue_button_con {
    display: flex;
    /* justify-content: flex-end; */
}
.continue_button_con > div {
    margin-right: 10px;
}
.continue_button,
.back_button,
.close_button {
    display: flex;
    height: 44px;
    cursor: pointer;
}
.continue_button_con > div.close_button {
    margin-right: auto;
}
.back_button {
    display: none;
}
.continue_button .btn-text,
.back_button .btn-text,
.close_button .btn-text {
    background-image: linear-gradient(to bottom, #018B11 0%, #000 131%, #018B11 100%);
    border: none;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 30px;
}
.close_button .btn-text {
    border-radius: 10px;
    background-image: linear-gradient(to bottom, red 0%, #000 131%, red 100%);
}
.continue_button .joSprite,
.back_button .joSprite {
    background-image: url(../Images/sprite_portal_white.svg);
    height: 100%;
    width: 40px;
    background-color: #018B11;
    align-self: stretch;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-position: -354px -28px;
    background-size: 650px;
}
.back_button .btn-text {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.back_button .joSprite {
    transform: scaleX(-1);
}
.group-text {
	width: 100%;
	margin-bottom: 15px;
}
.container-plus {
	padding-left: 0;
	padding-right: 0;
}
.fileupload-btn,
.ct-btn {
    background-image: linear-gradient(to bottom, #8B1D01 0%, #000 131%, #8B1D01 100%);
    padding: 10px 30px;
    color: white;
    cursor: pointer;
}
.ct-btn {
    border: none;
    padding: 3px 10px;
}
.timeline-clones .ct-btn {
    background-color: #eee;
    background-image: none;
    color: black;
}
.timeline-clones .timeline-minus {
    padding: 3px 12.28px;
}
.fileupload {
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
}
.frm-btn {
    cursor: pointer;
    margin-right: 10px;
    display: inline-flex;
    outline: none;
    border: none;
    height: 44px;
}
.frm-btn .joSprite {
    background-image: url(../Images/sprite_portal_white.svg);
    height: 100%;
    width: 40px;
    background-color: #018B11;
    align-self: stretch;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-position: -354px -28px;
    background-size: 650px;

    display: flex;
}
.frm-btn .btn-text {
    background-image: linear-gradient(to bottom, #018B11 0%, #000 131%, #018B11 100%);
    border: none;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 30px;
}
.frm-btn.btn-save .btn-text {
	background-image: linear-gradient(to bottom, #F8E60A 0%, #6f6f6f 261%, #F8E60A 100%);
}
.frm-btn.btn-save2 .btn-text {
    /*
	background-image: linear-gradient(to bottom, #AEAEAE 0%, #000 131%, #AEAEAE 100%);
    */
    background-image: linear-gradient(to bottom, #F8E60A 0%, #6f6f6f 261%, #F8E60A 100%);
}
.frm-btn.btn-publish .joSprite,
.frm-btn.btn-save .joSprite,
.frm-btn.btn-save2 .joSprite {
	background-position: -419px 4px;
}
.frm-btn.btn-save .joSprite {
	background-color: #F8E60A;
}
.frm-btn.btn-save2 .joSprite {
    /*
	background-color: #AEAEAE;
    */
    background-color: #F8E60A;
}
/* New Event Form - Ende */
.list-events-con {
    border: 1px solid #707070;
    margin-top: 15px;
}
.list-events-header,
.list-events-item {
	margin-left: 0;
	margin-right: 0;
    margin-bottom: 15px;
}
.editEvent-container .list-events-con .list-events-item:nth-child(2n) {
    background-color: #eee;
    padding: 15px 0px;
}
.editEvent-container .back {
    margin-bottom: 35px;
}
.list-events-header {
	font-weight: 600;
    padding-bottom: 15px;
    border-bottom: 3px solid rgba(111,111,111,.3);
}
.item-hidden-1 > div,
.item-hidden-1.item-hidden-ausfall > div {
	opacity: .5;
}
.list-events-item {
	position: relative;
}
.list-events-item::before {
	content: '';
	display: block;
	width: 5px;
	height: 5px;
	position: absolute;
    left: 5px;
    top: 26px;
	background-color: #30D000;
	border-radius: 100%;
}
.list-events-item:nth-child(2n+1)::before {
    top: 12px;
}
.list-events-item.item-hidden-1::before {
	background-color: #F8F816;
}
.list-events-item.item-hidden-ausfall::before {
    background-color: #D00000!important;
}
.kreis {
    width: 5px;
    height: 5px;
    background-color: #30D000;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 100%;
}
.kreis.yellow {
	background-color: #F8F816;
}
.kreis.red {
	background-color: #D00000;
}
.prototyp {
    display: none;
}
.action_container {
    display: flex;
}
.action_container > .joSprite {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 5px;
}
.action_container .edit {
    background-position: -685px -6px;
}
.action_container .copy {
    background-position: -486px -166px;
}
.action_container .delete {
    background-position: -285px -245px;
}
.timeline-clones {
    padding-left: 75px;
}
.timeline-clones .cloned {
    margin-bottom: 5px;
    opacity: 1;
    transition: opacity 0.2s;
}
.timeline-clones .cloned.deactive {
    opacity: .5;
}
.timeline-clones .g {
    margin-bottom: 10px;
}
.timeline-clones .g > .col {
    padding-left: 2.5px;
    padding-right: 2.5px;
}
.fileupload-img {
    width: 100%;
    height: auto;
    max-width: 200px;
}
.ajx-d-text.alert p {
    margin-bottom: 0;
}
#joAjaxloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 10000;
}
#joAjaxloader .joLoader {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid rgba(0,0,0,.2);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.primery-select {
    display: none;
}
.multiselect-container,
.multiselect-reset,
.multiselect-clear-filter {
    border-radius: 0;
}
.multiselect-container .caret-container {
    position: absolute;
    cursor: pointer;
    top: 18px;
    right: 10px;
}
.multiselect-container .caret-container.open,
.multiselect-container .caret-container.close {
    height: initial;
    width: initial;
    font-size: 1rem;
    padding: 0px 8px;
}
.multiselect-container .caret-container::after {
    display: block;
    position: absolute;
    top: 50%;
    right: -4px;
    -webkit-transform: translateY(-50%) rotate(0deg);
    transform: translateY(-50%) rotate(0deg);
    font-size: 1rem;
    transition: transform 0.2s;
}
.multiselect-container .caret-container.close::after {
    -webkit-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
}
.multiselect-option.dropdown-item:not(.nested) {
    /* background-color: #cecece; */
}
.multiselect-group.dropdown-item-text {
    cursor: pointer;
    position: relative;
    padding-right: 25px;
    border-bottom: 1px solid white;
}
span.multiselect-group.dropdown-item-text {
    background-color: #cecece;
}
.multiselect-group.dropdown-item-text:last-child {
    border-bottom: none;
}
.multiselect-search {
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 75%) inset;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 75%) inset;
}
.multiselect-search:focus {
    border: none;
}
.calender-ort-selector {
    width: 35px;
    height: 35px;
    display: block;
    background: white;
    margin: 0;
    cursor: pointer;
    background-image: url(../Images/sprite_portal_black.svg);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: -83px -4px;
}
#ort-modal .list-group-item {
    cursor: pointer;
}
#ort-modal .modal-body {
    max-height: calc(100vh - 225px);
    overflow: auto;
}
.ort-con {
    display: flex;
}
.calender-ort-nummer {
    background-color: #e9ecef;
    opacity: 1;
    padding: 5px 8px;
    line-height: 28px;
    margin-left: auto;
}
.datum_out {
    white-space: nowrap;
    min-width: 120px;
}
.fas {
    width: 15px;
    height: 18px;
    vertical-align: middle;
    background-image: url(../Images/sprite_portal_black.svg);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: 0px 0px;
}
.fa-times {
    background-position: -305px -4px;
}
.fa-search {
    background-position: 0px 0px;
}
.multiselect-filter > .input-group {
    padding: 5px!important;
    background-color: #cecece;
}
.multiselect-filter .input-group-prepend {
    display: none;
}
.multiselect-clear-filter {
    cursor: pointer;   
}
.multiselect-clear-filter:focus {
    outline: none;
}
.back-button,
.profil-edit,
.profil-site {
    background-color: #264493;
    cursor: pointer;
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    border: 0;
}
.profil-site {
    padding: 11.5px 30px;
}
.back-button:hover,
.profil-edit:hover,
.profil-site:hover {
    color: white;
    text-decoration: none;
}
.fileupload-type .file-item {
    padding-right: 0;
}
.cst-check input {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.footer-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-wrap a,
.footer-wrap a:hover {
    color: black;
}
.footer-wrap .frame-type-text:last-child {
    font-size: 12px;
    margin-top: 5px;
    width: 50%;
}
.frame-type-menu_subpages {

}
.frame-type-menu_subpages ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.frame-type-menu_subpages li {
    margin-right: 10px;
}


.cloned fieldset {
    border: 1px groove #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}
.cloned legend {
    font-size: 1.2em;
    width: inherit;
    padding: 0 10px;
    border-bottom: none;
}
.ev-cancelled,
.ev-rescheduled,
.ev-postponed {
    display: none;
}
/*
.timeline-type .cloned-row {
    border-right: 1px solid #ddd;
}
*/
.form_datepicker {
    margin: 0 auto;
}
.date-input-container {
    margin-top: 10px;
}
.multiselect-container {
    min-width: 300px;
}
.multiselect-container > .multiselect-option {
    border-bottom: 1px solid white;
}
.multiselect-container > .multiselect-option:last-child {
    border-bottom: none;
}
.multiselect-container span.multiselect-group:focus,
.multiselect-container span.multiselect-group:hover {
    background-color: #cecece!important;
}
.multiselect-container button.multiselect-option:focus,
.multiselect-container button.multiselect-option:hover {
    background-color: white!important;
}
.multiselect-container span.multiselect-group.active:not(.multiselect-active-item-fallback),
.multiselect-container span.multiselect-group:not(.multiselect-active-item-fallback):active {
    background-color: #cecece!important;
}
.multiselect-container button.multiselect-option.active:not(.multiselect-active-item-fallback),
.multiselect-container button.multiselect-option:not(.multiselect-active-item-fallback):active {
    background-color: white!important;
    color: #000;
}
.datepicker_1 {

}
.datepicker_2,
.datepicker_x {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}
.datepicker_2.active,
.datepicker_x.active {
    opacity: 1;
    visibility: visible;
}
.crt-day,
.down-day {
    border: 1px solid black;
}
.crt-day {
    background-color: #018B11;
    color: white;
}
.down-day span {
    position: relative;
    transition: 0.5s;
}
.down-day span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: -7px;
    right: -20px;
    transition: 0.5s;
    font-size: 22px;
}
.down-day:hover span {
    padding-right: 15px;
}
.down-day:hover span:after {
    opacity: 1;
    right: 0;
}
.summary-content .output {
    margin-top: 0;
    padding: 10px 0px;
}
.summary-content .output:nth-child(2n) {
    background-color: #eee;
}

.form-missing .col-form-label {
    color: red;
}
.form-missing input,
.form-missing textarea,
.form-missing select,
.form-missing .multiselect.dropdown-toggle.custom-select {
    border-color: red;
}
.form-warning .col-form-label {
    color: #d58c05;
}
.form-warning .fileupload-btn {
    background-image: linear-gradient(to bottom, #d58c05 0%, #000 131%, #d58c05 100%);
}
.file-missing .ftg,
.file-missing .ftg-ck {
    border-color: red;
}
.file-missing .ftg-con .col-form-label,
.file-missing .ftg-ck-con .col-form-label {
    color: red;
}
.femanager_fieldset.has-error .alert {
    color: white;
    padding: 7px 15px;
}
.femanager_fieldset.has-error .alert .close {
    color: white;
    opacity: 1;
}
.femanager_fieldset.has-error .alert h4 {
    font-size: 1.3rem;
}
.alert-form {
    display: none;
}
.form-missing .alert-danger,
.file-missing .alert-danger {
    display: block;
}
.form-warning .alert-warning {
    display: block;
}

.form-out-missing {
    color: red;
}
.file-out-missing {
    color: red;
}
.form-out-warning {
    color: #d58c05;
}
.textarea-output {
    white-space: pre-wrap;
}
.defaultImg-preview {
    width: 100%;
    height: auto;
    max-height: 300px;
}
.defaultImg-item-con {
    position: relative;
}
.defaultImg-item-con label {
    /* border: 1px solid red; */
    position: relative;
    padding: 10px 10px;
    border-radius: 15px;
    border: 1px solid;
    border-color: transparent;
    transition: border-color .5s ease;
}
.defaultImg-item-con label::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: 20px;
    top: 20px;
    background-color: white;
}
.defaultImg-save {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
    opacity: 0;
    visibility: hidden;
}
.defaultImg-save:checked + label {
    border-color: #8B1D01;
}
.defaultImg-save:checked + label::before {

}
.defaultImg-item-con label:after {
    content: "";
    position: absolute;
    right: 27px;
    top: 21px;
    width: 9px;
    height: 19px;
    border: solid #8B1D01;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity .5s ease;
}
.defaultImg-save:checked + label:after {
    opacity: 1;
}
.defaultImg-delete {
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}
.editorcomment {
    border-bottom: 1px solid grey;
    padding-bottom: 15px;
    margin-bottom: 5px;
}
.kontakt-form #beshcreibung {
    height: 200px; 
}
.workingOn {
    font-size: 14px;
    color: red;
    position: relative;
    padding-left: 20px;
}
.workingOn .icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url(../Images/bearbeiten.svg);
    background-position: center;
    background-size: cover;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 6px;
}
.tsl_icon {
    
}
.lng_trsl {
    padding-left: 0;
}
.lng_trsl-label {
    opacity: .5;
    padding-left: 60px;
}
.lng_trsl-con {
    padding-right: 0;
}
.trsl {
    position: relative;
    padding-right: 0;
}
.trsl > input,
.trsl > textarea {
    padding-right: 40px;
}
.tsl_icon {
    position: absolute;
    right: 5px;
    top: 3px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-image: url(../Images/sprite_portal_black.svg);
    background-position: -564px -205px;
    background-size: 800px;
    cursor: pointer;
}
.form-items-container .col-form-label.dpl {
    padding-left: 0;        
}
.btn-day-con {
    padding-left: 0px;
    margin-top: 10px;
}
.timeline-clones .g .col > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.delete-reason {
    width: 100%;
    height: 200px;
}
#toaster {
    top: 50%;
    right: 50%;
    width: 50%;
    height: 50%;
    height: 50%;
    min-height: 500px;
    min-width: 500px;
    max-width: 100%;
    max-height: 100%;
}
#toaster .alert {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
}
@media (min-width: 992px) {
    .form-items-container .col-form-label.dpl {
        padding-left: 60px;
    }
    .btn-day-con {
        padding-left: 60px;
        margin-top: 0px;
    }
}