{namespace jo=JO\Theatercollection\ViewHelpers}
<style>
	

	.link {
	  padding:5px 10px;
	  margin: 5px 0 0 0;
	  border-radius: 3px;
	}
	.facettes{
		margin-bottom:30px;
	}
	.facettes .wrap{
		padding: .75rem 1.25rem;
		background-color: #fff;
		border: 1px solid rgba(0,0,0,.125);
		border-radius: 3px;
	}
	.facettes.active .wrap{
		color: #fff;
		background-color: #007bff;
		border-color: #007bff;
	}
	h5{
		padding: 10px 0 5px;
		margin:0;
		text-decoration: underline;
		font-size:16px;
	}
	
</style>
<div class="container">
	<f:if condition="{searcharray}">
		<div class="row">
			<div class="col-12">
				<f:link.action style="margin-bottom:20px;" class="d-inline-block text-white bg-dark link" action="read" arguments="{removefilters:'1'}">				
					alle Filter löschen
				</f:link.action>
			</div>
		</div>
	</f:if>
</div>
<f:if condition="{feusers}">
	<div class="container">
		<ul class="row" style="list-style-type: none; padding:0;">
			<h2 class="col-12">Veranstalter</h2>
			<f:for each="{feusers}" as="items">
				<li class="col-md-3 facettes <f:if condition='{jo:inarray(arraycontains:\'{searcharray.content.addorganizer}\', keytofind:\'{items.uid}\')}'>active</f:if>">
					<div class="wrap h-100">
						<h4>
							<f:if condition="{items.company}">
								<f:then>
									{items.company}
								</f:then>
								<f:else>
									{items.username}
								</f:else>
							</f:if>
						</h4>
						<div class="bodytext">
							<div><f:if condition="{items.address}">{items.address}</f:if></div>
							<div><f:if condition="{items.zip}">{items.zip}</f:if> <f:if condition="{items.city}">{items.city}</f:if></div>
							<div><f:if condition="{items.email}">E-Mail: {items.email}</f:if></div>
							<div><f:if condition="{items.telephone}">Telefon: {items.telephone}</f:if></div>
							<div>
								<f:if condition="{jo:inarray(arraycontains:'{searcharray.content.addorganizer}', keytofind:'{items.uid}')}">
									<f:then>
										<f:link.action class="d-inline-block text-white bg-dark link" action="read" arguments="{removeorganizer:'{items.uid}'}">
											abwählen
										</f:link.action>
									</f:then>
									<f:else>
										<f:link.action class="d-inline-block text-white bg-dark link" action="read" arguments="{addorganizer:'{items.uid}'}">				
											auswählen
										</f:link.action>
									</f:else>
								</f:if>
							</div>
						</div>
					</div>
				</li>
			</f:for>
		</ul>
	</div>
</f:if>
<f:if condition="{veranstalterarray}">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<a style="margin-bottom:20px;" class="btn btn-primary d-block text-left" data-toggle="collapse" href="#collapseVeranstalter" role="button" aria-expanded="false" aria-controls="collapseVeranstalter">
				    <h2>Veranstalter</h2>
				  </a>
			</div>
		</div>
		<div class="collapse" id="collapseVeranstalter">
			<ul class="row" style="list-style-type: none; padding:0;">
				<f:for each="{veranstalterarray.veranstalter}" as="items">
					<li class="col-md-3 facettes <f:if condition='{jo:inarray(arraycontains:\'{searcharray.content.addveranstalter}\', keytofind:\'{items.id}\')}'>active</f:if>">
						<div class="wrap h-100">
							<h4>
								<f:if condition="{items.name}">
									<f:then>
										{items.name}
									</f:then>
									<f:else>
										{items.id}
									</f:else>
								</f:if>
							</h4>
							<div class="bodytext">
								<div>
									<f:if condition="{jo:inarray(arraycontains:'{searcharray.content.addveranstalter}', keytofind:'{items.id}')}">
										<f:then>
											<f:link.action class="d-inline-block text-white bg-dark link" action="read" arguments="{removeveranstalter:'{items.id}'}">
												abwählen
											</f:link.action>
										</f:then>
										<f:else>
											<f:link.action class="d-inline-block text-white bg-dark link" action="read" arguments="{addveranstalter:'{items.id}'}">				
												auswählen
											</f:link.action>
										</f:else>
									</f:if>
								</div>
							</div>
						</div>
					</li>
				</f:for>
			</ul>
		</div>
	</div>
</f:if>
<f:if condition="{spielortearray}">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<a style="margin-bottom:20px;" class="btn btn-primary d-block text-left" data-toggle="collapse" href="#collapseSpielorte" role="button" aria-expanded="false" aria-controls="collapseSpielorte">
				    <h2>Spielorte</h2>
				  </a>
			</div>
		</div>
		<div class="collapse" id="collapseSpielorte">
			<ul class="row" style="list-style-type: none; padding:0;">
				<f:for each="{spielortearray.spielort}" as="items">
					<li class="col-md-3 facettes <f:if condition='{jo:inarray(arraycontains:\'{searcharray.content.addspielort}\', keytofind:\'{items.id}\')}'>active</f:if>">
						<div class="wrap h-100">
							<h4>
								<f:if condition="{items.name}">
									<f:then>
										{items.name}
									</f:then>
									<f:else>
										{items.id}
									</f:else>
								</f:if>
							</h4>
							<div class="bodytext">
								<div>
									<f:if condition="{jo:inarray(arraycontains:'{searcharray.content.addspielort}', keytofind:'{items.id}')}">
										<f:then>
											<f:link.action class="d-inline-block text-white bg-dark link" action="read" arguments="{removespielort:'{items.id}'}">
												abwählen
											</f:link.action>
										</f:then>
										<f:else>
											<f:link.action class="d-inline-block text-white bg-dark link" action="read" arguments="{addspielort:'{items.id}'}">				
												auswählen
											</f:link.action>
										</f:else>
									</f:if>
								</div>
							</div>
						</div>
					</li>
				</f:for>
			</ul>
		</div>
	</div>
</f:if>
<f:if condition="{eventsarray}">
	<div class="container">
		<div>
			<ul class="row" style="list-style-type: none; padding:0;">
				<f:for each="{eventsarray.theater.0.spielzeit}" as="items">
					<li class="col-md-3 facettes">
						<div class="wrap h-100">
							<div style="font-size:14px;">{items.datum}, {items.uhrzeit}</div>
							<div class="bodytext">
								<f:if condition="{items.spielort}">
									<h5>Spielort:</h5>
									<div>
										<f:for each="{items.spielort}" as="item">
											{item.name}
										</f:for>
									</div>
								</f:if>
								<f:if condition="{items.veranstalter}">
									<h5>Veranstalter:</h5>
									<div>
										<f:for each="{items.veranstalter}" as="item">
											{item.name}
										</f:for>
									</div>
								</f:if>
								<f:if condition="{items.performance}">
									<h5>Veranstaltung:</h5>
									<div>
										<f:for each="{items.performance}" as="item">
											{item.name}
										</f:for>
									</div>
								</f:if>
							</div>
						</div>
					</li>
				</f:for>
			</ul>
		</div>
	</div>
</f:if>


				<f:comment>
					<f:debug>{items}</f:debug>
				</f:comment>