<div class="femanager_edit">
	<f:if condition="{user}">
		<f:then>
			<f:form
					name="user"
					action="termupdate"
					class="form-horizontal">
				<fieldset>
					<f:form.hidden property="id" value="{user}" />

					<h5>Profil vervollständigen</h5>

					<div class="femanager_fieldset femanager_terms form-group">
					    <div class="col-sm-offset-2 col-sm-10">
					        <div class="checkbox">
					            <label class="checkbox">
					                <f:form.checkbox id="femanager_field_terms" property="terms" value="Terms and conditions" checked="false" additionalAttributes="{required: required}" />
					                Durch die Nutzung der Eingabemaske bestätigen Sie, dass Sie die <f:link.page pageUid="17" target="_blank">Datenschutzerklärung</f:link.page> und <f:link.page pageUid="11" target="_blank">Nutzungsbedingungen</f:link.page> der LAG Soziokultur Schleswig-Holstein gelesen haben und diesen zustimmen.
					                <span>*</span>
					            </label>
					        </div>
					    </div>
					</div>

					<div class="femanager_fieldset femanager_submit form-group">
						<div class="col-sm-10 col-sm-offset-2">
							<f:form.submit value="Speichern" id="femanager_field_submit" class="btn btn-primary btn-large" />
						</div>
					</div>
				</fieldset>
			</f:form>
		</f:then>
		<f:else>
			<div class="femanager_note">
				Nicht eingeloggt.
			</div>
		</f:else>
	</f:if>
</div>
