<table border="1" cellpadding="2" cellspacing="2">
	<f:if condition="{user.username}">
		<tr>
			<td><f:translate key="tx_femanager_domain_model_user.username" /></td>
			<td>
				{user.username}
			</td>
		</tr>
	</f:if>
	<f:if condition="{user.email}">
		<tr>
			<td><f:translate key="tx_femanager_domain_model_user.email" /></td>
			<td>
				{user.email}
			</td>
		</tr>
	</f:if>
	<f:if condition="{user.title}">
		<tr>
			<td><f:translate key="tx_femanager_domain_model_user.title" /></td>
			<td>
				{user.title}
			</td>
		</tr>
	</f:if>
	<f:if condition="{user.firstName}">
		<tr>
			<td><f:translate key="tx_femanager_domain_model_user.firstName" /></td>
			<td>
				{user.firstName}
			</td>
		</tr>
	</f:if>
	<f:if condition="{user.middleName}">
		<tr>
			<td><f:translate key="tx_femanager_domain_model_user.middleName" /></td>
			<td>
				{user.middleName}
			</td>
		</tr>
	</f:if>
	<f:if condition="{user.lastName}">
		<tr>
			<td><f:translate key="tx_femanager_domain_model_user.lastName" /></td>
			<td>
				{user.lastName}
			</td>
		</tr>
	</f:if>
	<f:if condition="{user.name}">
		<tr>
			<td><f:translate key="tx_femanager_domain_model_user.name" /></td>
			<td>
				{user.name}
			</td>
		</tr>
	</f:if>
	<f:if condition="{user.telephone}">
		<tr>
			<td><f:translate key="tx_femanager_domain_model_user.telephone" /></td>
			<td>
				{user.telephone}
			</td>
		</tr>
	</f:if>
	<f:if condition="{user.fax}">
		<tr>
			<td><f:translate key="tx_femanager_domain_model_user.fax" /></td>
			<td>
				{user.fax}
			</td>
		</tr>
	</f:if>
	<f:if condition="{user.city}">
		<tr>
			<td><f:translate key="tx_femanager_domain_model_user.city" /></td>
			<td>
				{user.city}
			</td>
		</tr>
	</f:if>
</table>
