{namespace femanager=In2code\Femanager\ViewHelpers}
<f:layout name="Default" />

	User / Show

<f:section name="main">

	<div class="femanager_show">
		<f:render partial="Misc/FlashMessages" arguments="{_all}" />

		<f:if condition="{user}">
			<f:then>
				<ul>
					<f:if condition="{user.username}">
						<li>
							<f:translate key="tx_femanager_domain_model_user.username" />:
							<f:link.action action="show" arguments="{user:user}">{user.username}</f:link.action>
						</li>
					</f:if>
					<f:comment>
						<!--
						<f:if condition="{user.usergroup}">
							<li>
								<f:translate key="tx_femanager_domain_model_user.usergroup" />:
								<f:for each="{user.usergroup}" as="usergroup" iteration="i">{usergroup.title}<f:if condition="{i.isLast}"><f:else>, </f:else></f:if></f:for>
							</li>
						</f:if>
						-->
					</f:comment>
					<f:if condition="{user.firstName}">
						<li>
							<f:translate key="tx_femanager_domain_model_user.firstName" />:
							{user.firstName}
						</li>
					</f:if>
					<f:if condition="{user.lastName}">
						<li>
							<f:translate key="tx_femanager_domain_model_user.lastName" />:
							{user.lastName}
						</li>
					</f:if>
					<f:if condition="{user.email}">
						<li>
							<f:translate key="tx_femanager_domain_model_user.email" />:
							<f:link.email email="{user.email}" />
						</li>
					</f:if>
					<li>
						<f:translate key="tx_femanager_domain_model_user.gender" />:
						<f:translate key="tx_femanager_domain_model_user.gender.item{user.gender}" />
					</li>
					<f:if condition="{user.dateOfBirth}">
						<li>
							<f:translate key="tx_femanager_domain_model_user.dateOfBirth" />:
							<f:format.date format="{f:translate(key:'tx_femanager_domain_model_user.dateFormat')}">{user.dateOfBirth}</f:format.date>
						</li>
					</f:if>
					<f:if condition="{user.address}">
						<li>
							<f:translate key="tx_femanager_domain_model_user.address" />:
							{user.address}
						</li>
					</f:if>
					<f:if condition="{user.zip}">
						<li>
							<f:translate key="tx_femanager_domain_model_user.zip" />:
							{user.zip}
						</li>
					</f:if>
					<f:if condition="{user.city}">
						<li>
							<f:translate key="tx_femanager_domain_model_user.city" />:
							{user.city}
						</li>
					</f:if>
					<f:if condition="{user.country}">
						<li>
							<f:translate key="tx_femanager_domain_model_user.country" />:
							{user.country}
						</li>
					</f:if>
					<f:if condition="{user.state}">
						<li>
							<f:translate key="tx_femanager_domain_model_user.state" />:
							<!-- // TODO: Check me if i was displayed -->
							{user.state}
						</li>
					</f:if>
					<f:if condition="{user.veranstalter} && {veranstalter}">
						<li>
							Veranstalter: {veranstalter.name}
						</li>
					</f:if>
					<f:if condition="{user.veranstalterxtree} && {veranstalterxtree}">
						<li>
							Veranstalter Xtree: {veranstalterxtree}
						</li>
					</f:if>
				</ul>
				<f:for each="{user.image}" as="image">
					<f:image image="{image}" width="250" />
				</f:for>
			</f:then>
			<f:else>
				<div class="femanager_note">
					<f:translate key="noRecordFoundShow" />
				</div>
			</f:else>
		</f:if>

		<div class="mt-5 ml-2">
			<f:link.page class="back-button" pageUid="5">Zurück</f:link.page>
			<f:comment>
				<!--
				<f:link.page class="profil-edit" pageUid="13">Profil bearbeiten</f:link.page>
				-->
			</f:comment>
		</div>
	</div>
</f:section>
